*{
    font-size: 18px}
.left-pack {
    font-size: 42px !important}

#ouibounce-modal {
    font-family:sans-serif;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999
}

#ouibounce-modal .underlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    cursor: pointer;
    -webkit-animation: fadein .5s;
    animation: fadein .5s
}
span.new_price_val{
    font-size: 22px!important;
}
@-webkit-keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-ms-keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.over-window {
    font-family:sans-serif;
    width: 650px;
    z-index: 9999;
    padding: 10px 0 0;
    cursor: default;
    background: #fff none repeat scroll 0% 0%;
    position: fixed;
    top: 5%;
    left: 50%;
    margin: 0 0 0 -391px;
    border: 3px solid #3e3e3e
}

.ex-logo {
    color: #111;
    font-family:sans-serif;
    font-size: 28px;
    line-height: 38px;
    margin: 15px auto 10px;
    padding: 0 15px;
    text-align: center;
    font-weight: 700 !important
}

.footer-button {
    color: #ae1210;
    font-family:sans-serif;
    font-size: 46px;
    line-height: 56px;
    margin: 5px auto 0;
    padding: 0 15px;
    text-align: center
}

.footer-button a {
    font-family:sans-serif;
    cursor: pointer;
    border: none;
    display: block;
    margin: 5px auto 10px;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    height: 51px;
    line-height: 51px;
    background: #e74c3c;
    font-weight: 400;
    border-bottom: 2px solid #c0392b;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 9px;
    width: 380px
}

.footer-button a:hover {
    background: #e75c4e
}

.footer-button a:hover {
    color: #fff
}

.ppubtxt {
    font-family:sans-serif;
    text-align: center !important;
    font-size: 18px;
    margin-bottom: 10px;
    width: 650px;
    padding: 0;
    color: #111;
    margin-top: 0
}

.exitprod-img {
    width: 230px;
    margin: 15px 15px 0;
    float: left;
    text-align: center
}

.exit-form {
    width: 370px;
    float: left
}

.exit-form-text {
    margin: 10px 0 20px
}

.exit-form-text .subhead {
    font-size: 20px;
    font-weight: 700;
    line-height: 29px;
    color: #782b2b
}

.exit-form-text .subhead ul {
    list-style: outside none none;
    font-family:sans-serif;
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    padding-left: 10px
}

.exit-form-text .subhead ul li {
    background: transparent url(../images/bl.png) no-repeat scroll 0 10px;
    margin-top: 10px;
    padding-left: 30px;
    padding-bottom: 10px;
    text-align: left
}

.close-ex {
    height: 52px;
    width: 52px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: -26px;
    background: url(../images/cls.png) no-repeat
}

.clr {
    clear: both
}

img, svg {
}

img, svg {
    margin: 0 auto
}

img1 {
    text-align: center
}

.hr-line {
    margin: 20px 0;
    padding: 0;
    height: 0;
    border: none;
    border-top: 1px solid #333
}

a:hover {
    color: #007bff;
    text-decoration: none
}

p a {
    text-decoration: none
}

a {
    color: #212529;
    transition: all .2s
}
.masthead{
    background: url(../images/bgshort12.jpg) no-repeat center !important;
    background-size: cover !important;
    height: 433px;
    width: 100% !important;
    filter: blur(0px);
    margin-right: 55px;
    margin-left: 0px;
    padding: 0px}


                      #content h2 {
                          font-family:sans-serif;
                          font-size: 21px;
                          margin-bottom: 33px;
                          line-height: 32px}

.order_info h2 {
    border: none !important;
    color: red !important;
    font-size: 21px}

.left_count {
    background: red;
    padding: 23px;
    margin: 12px 0;
    width: 178px;
    color: #fff;
    text-shadow: 0 -1px 0 #000, 0 -1px 0 #000, 0 1px 0 #000, 0 1px 0 #000, -1px 0 0 #000, 1px 0 0 #000, -1px 0 0 #000, 1px 0 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 32px !important;
    border-radius: 5px}

.pop-up-window::before {
    content: "";
    position: absolute;
    width: 110px;
    height: 110px;
    top: -55px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #71c341;
    border-radius: 50%;
    animation: .5s ease .6s normal backwards 1 running pop-up-appear-before}

.close-popupus {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(../fonts/cross.svg);
    background-size: 100%;
    top: -40px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #fff;
    right: -40px;
    cursor: pointer}

.pop-up-window::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    top: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-width: medium medium 4px 4px;
    border-style: none none solid solid;
    border-color: currentcolor currentcolor #fff #fff;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    transform: rotate(-45deg);
    transition: opacity 1s ease 0s;
    animation: .5s ease .6s normal backwards 1 running pop-up-appear-after}

.time_remains {
    font-size: 1.1em;
    color: red;
    font-weight: 700}

.pop-up-button {
    text-transform: uppercase;
    text-decoration: none !important;
    padding: 10px 20%;
    font-size: 20px;
    border-radius: 5px;
    background-color: #71c341;
    color: #fff !important;
    border: medium;
    cursor: pointer;
    outline: medium}

.pop-up-heading {
    font-size: 40px;
    margin-bottom: 20px}

.pop-up-text {
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 30px;
    text-align: center !important}

.pop-up-window {
    position: relative;
    max-width: 400px;
    right: 0;
    left: 0;
    top: 40%;
    margin: 0 auto;
    background: #fff none repeat scroll 0% 0%;
    text-align: center;
    padding: 10px;
    padding-top: 70px;
    padding-bottom: 20px;
    border-radius: 10px;
    animation: .7s ease 0s normal none 1 running pop-up-appear}

.erase_text, .text-column {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center}

#square, #square2, .qqq {
    width: 200px;
    height: 50px;
    border-radius: 3em;
    align-self: center}

#square {
    background: rgb(150, 149, 149) none repeat scroll 0% 0%;
    cursor: pointer}

#square2 {
    background: transparent url(../images/discount.png) no-repeat scroll center center;
    display: none;
    padding: 8px;
    font-family:sans-serif;
    font-weight: 500}

.qqq {
    outline: medium none;
    background: transparent none repeat scroll 0% 0%;
    border: 1px solid rgb(150, 149, 149)}

.arrow {
    background: transparent url("../images/arrow.png") no-repeat scroll center center;
    width: 70px;
    height: 65px;
    align-self: center;
    margin: 1em}

.bilet {
    color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    border: 4px solid rgb(16, 80, 0);
    border-radius: 5px;
    background: transparent linear-gradient(rgb(255, 255, 255), rgb(139, 195, 124)) repeat scroll 0% 0%}

.text-column {
    flex: 2 1 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    align-items: center}

.text-column p {
    margin-bottom: 0px}

.text-column p:first-child {
    text-transform: uppercase;
    text-align: center}

.blabla p:last-child {
    font-size: 0.7em;
    margin: 0px}

.erase_column {
    flex: 3 1 0%;
    padding: 1em;
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between}

.erase {
    display: flex;
    flex-direction: column;
    justify-content: space-between}

.logo1 {
    background: transparent url("../images/tovv.png") no-repeat scroll center center;
    width: 250px;
    height: 260px;
    background-size: contain}

@media screen and (max-width: 550px) {
    .gerbpk {
        display: none}

    .gerbmobile {
        display: block;
        margin: 0px auto}
    .logo1 {
        height: 140px}
}

@media screen and (min-width: 550px) {
    .gerbmobile {
        display: none}
}

@media screen and (max-width: 550px) {
    .erase {
        justify-content: center}
}

@media screen and (max-width: 350px) {
    .text-column, .erase_column {
        padding: 5px}
}

@media (max-width: 1024px) {
    .u-content-read {
        max-width: 100%;
        margin-left: 0}
}

.submit-roulette {
    text-transform: uppercase;
    padding: 10px 15px;
    margin: 15px 0;
    outline: none;
    border: none;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 3px #242120;
    background: red;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: background .3s}

input[placeholder="Ваше имя"], input[placeholder="Ваш телефон"] {
    padding-left: 5px;
    height: 42px;
    display: block;
    margin: 0 auto;
    margin-bottom: 12px;
    margin-top: 15px}

.order_block h3 {
    font: 700 18px Arial !important;
    background: 0 0;
 font-family:sans-serif!important}

.spin-result-wrapper {
    display: none;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    top: 0;
    z-index: 999;
    left: 0;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .6);
    text-align: center}
#order_form button, .obutton {
    display: inline-block;
    padding: 20px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    box-shadow: 0 4px 15px 0 rgba(129, 150, 160, .45);
    border-radius: 5px;
    background-color: #0299ff;
    background-position: 1.35em .94em;
    background-size: 1em;
    background-repeat: no-repeat;
    transition: all .15s ease-in-out;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px}

@media (min-width: 320px) and (max-width: 570px) {
    .close-popupus{
        right: 0}

}