@charset "UTF-8";
/* styles */
body {
  min-width: 480px;
  background: #b5a179;
  font-family: "Museo Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  color: #000;
  cursor: default;
}

.main_wrapper {
  margin: 0 auto;
  width: 480px;
  background: #fff;
}

img {
  max-width: 100%;
  height: auto;
  flex-shrink: 0;
}

b {
  font-weight: 700;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

h2.title {
  font-size: 30px;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 35px;
  padding: 0 10px;
  font-weight: 900;
}

h2.title span {
  color: #fff;
}

section {
  padding: 35px 0 30px;
}

.сolor_theme {
  background: #ed525c;
  background: -moz-linear-gradient(top, #ed525c 0%, #e65336 100%);
  background: -webkit-linear-gradient(top, #ed525c 0%, #e65336 100%);
  background: linear-gradient(to bottom, #ed525c 0%, #e65336 100%);
}

.сolor_theme .title {
  color: #fff;
}

.сolor_theme .title span {
  color: #fff;
}

.main_form {
  padding: 0 30px;
}

.main_form input {
  width: 100%;
  display: block;
  font-family: "Museo Sans", sans-serif;
  border: none;
  font-size: 18px;
  margin-bottom: 20px;
  height: 80px;
  border-radius: 10px;
  background: #fff;
  text-align: center;
  color: #222;
}

.main_form .button-m {
  margin-top: 0;
}

.main_form ::-webkit-input-placeholder, .main_form ::-moz-placeholder, .main_form :-moz-placeholder, .main_form :-ms-input-placeholder {
  color: #222;
}

.main_form :focus::-webkit-input-placeholder, .main_form :focus::-moz-placeholder, .main_form :focus:-moz-placeholder, .main_form :focus:-ms-input-placeholder {
  color: transparent;
}

/* button */
.button-m {
  border: none;
  cursor: pointer;
  font-family: "Museo Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  height: 84px;
  width: 420px;
  display: block;
  border-radius: 10px;
  line-height: 82px;
  text-decoration: none;
  text-align: center;
  background: linear-gradient(to bottom, #ff3e4f, #fa7a85);
  font-size: 24px;
  letter-spacing: 1px;
  margin: 0px auto;
  color: #fff;
  position: relative;
}

.button-m:active {
  background: linear-gradient(to bottom, #fa7a85, #ff3e4f);
  top: 2px;
}

/*  offer_section   */
.offer_section {
  padding: 0;
}

.offer_section .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 515px;
  background: url(../images/offer.png) 50% 170px no-repeat #f0deab;
}

.main_title {
  font-size: 50px;
  line-height: 1.1em;
  color: #fff;
  font-weight: 600;
  padding: 5px 0 0 0;
  text-align: center;
  font-family: Montserrat, sans-serif;
}

.main_title b {
  font-weight: 700;
}

.main_subtitle {
  color: #000;
  font-size: 20px;
  line-height: 1.1em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 420px;
  font-family: Montserrat, sans-serif;
}

.offer_section .product {
  position: absolute;
  top: 260px;
  right: 0;
}

.sale {
  width: 110px;
  height: 110px;
  padding-top: 22px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.1em;
  background: #f14e5a;
  background: -moz-linear-gradient(top, #f14e5a 0%, #b7152d 100%);
  background: -webkit-linear-gradient(top, #f14e5a 0%, #b7152d 100%);
  background: linear-gradient(to bottom, #f14e5a 0%, #b7152d 100%);
  position: absolute;
  top: 981px;
  right: 75px;
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5);
}

.sale > span {
  display: block;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1em;
}

.offer_content {
  padding: 40px 25px 20px;
}

.offer_content .desc {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.3em;
  font-family: Montserrat, sans-serif;
}

.list1 {
  margin-top: 18px;
  margin-bottom: 5px;
}

.list1 > li {
  margin-bottom: 5px;
  padding: 15px 4px 15px 50px;
  width: 460px;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}

.list1 > li:before {
  content: "";
  background: url(../images/ch1.png) 50% 50% no-repeat;
  width: 65px;
  height: 72px;
  position: absolute;
  top: 2%;
  margin-top: -8px;
  left: -7px;
  transform: rotate(-14deg);
}
.list1 > li:nth-child(2):before {
  background: url(../images/ch2.png) 50% 50% no-repeat;
}
.list1 > li:nth-child(3):before {
  background: url(../images/ch3.png) 50% 50% no-repeat;
}

.bef_aftr > img {
  display: block;
  margin: 0 auto 8px;
  border-radius: 10px;
}

.bef_aftr > img:last-child {
  margin-bottom: 0;
}

.action_block {
  padding: 30px 0 35px;
}

.action_block > .button-m {
  margin-bottom: 20px;
}

.action_block > p {
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.price {
  width: 430px;
  height: 103px;
  background: url(../images/price.png) 50% 50% no-repeat;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.1));
  margin: 0 auto;
  font-size: 0;
  text-align: center;
}

.price > div {
  display: inline-block;
  vertical-align: top;
}

.price .old, .price .new {
  width: 165px;
  font-size: 16px;
  color: #000;
}

.price .old {
  padding-top: 20px;
}

.price .old p {
  font-size: 32px;
  line-height: 1.1em;
  position: relative;
}

.price .old p:after {
  content: "";
  background: #d52d41;
  width: 60%;
  height: 4px;
  position: absolute;
  bottom: 50%;
  left: 30px;
}

.price .new {
  padding-top: 17px;
}

.price .new p {
  font-size: 38px;
  line-height: 1.1em;
  color: #06b508;
  font-weight: 700;
}

.price .old p small, .price .new p small {
  font-size: 0.8em;
}

.price .discont {
  width: 100px;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3em;
  padding-top: 17px;
}

.price .discont > span {
  font-weight: 700;
  display: block;
  font-size: 32px;
  line-height: 1.2em;
}

.timer {
  padding: 0 40px;
  margin-top: 30px;
  color: black;
}

.timer > p {
  font-size: 17px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 5px;
}

.action_block .button-m {
  margin-top: 15px;
}

.prod_count {
  text-align: center;
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
}

.prod_count > span {
  font-weight: 700;
  display: inline-block;
  vertical-align: top;
  padding: 1px 6px;
  background: #d9a343;
  margin: 0 7px;
  border-radius: 3px;
}

.nopad {
  padding: 0;
}

.color_bg {
  background: #f0deab;
  background: -moz-linear-gradient(top, #f0deab 0%, #f0deab 100%);
  background: -webkit-linear-gradient(top, #f0deab 0%, #f0deab 100%);
  background: linear-gradient(to bottom, #f0deab 0%, #f0deab 100%);
}

.dark_bg {
  background: #000000;
  color: #fff;
}

.dark_bg h2.title span {
  color: #d8ab5a;
}

/*sect2*/
.sect2 {
  padding: 40px 20px;
}
.sect2 video {
  max-width: 100%;
  border-radius: 8px;
  margin: 0 auto 30px;
}

.sect2 img {
  display: block;
  border-radius: 8px;
}

.benef1 {
  font-size: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.benef1 li {
  width: 45%;
  margin-bottom: 30px;
}

.benef1 li img {
  border-radius: 100%;
}

.benef1 li p {
  color: white;
  font-size: 19px;
  font-weight: 500;
}

.benef1.check > li > img {
  display: block;
  margin: 0 auto;
}

.benef1.check > li > p:before {
  content: "";
  width: 33px;
  height: 33px;
  /*background: url(../images/check2.png) 50% 50% no-repeat;*/
  display: block;
  margin: -18px auto 15px;
  position: relative;
  z-index: 2;
}

/*secret*/
.secret {
  padding-top: 20px;
}

.secret .text {
  padding: 10px 50px 0 20px;
  position: relative;
  font-size: 20px;
  line-height: 1.5em;
}

.secret .text:before {
  content: "";
  width: 117px;
  height: 177px;
  background: url(../images/product1.png) 50% 50% no-repeat;
  position: absolute;
  right: 0;
  top: 0;
}

.secret .text > p:not(:last-child) {
  margin-bottom: 30px;
}

.secret .text > p:first-child {
  padding-right: 55px;
}

.secret > img {
  display: block;
  margin: 0 auto 20px;
}

/*sect3*/
.sect3 {
  background: #f0deab;
  padding: 40px 30px 30px;
}
.sect3 .button-m {
  margin-top: 40px;
}

.sect3 h2 {
  margin-bottom: 30px;
}
.sect3 h2 span {
  color: black;
  font-size: 29px;
}

.sect3 > img {
  display: block;
  margin-top: 35px;
  margin-bottom: 520px;
  border-radius: 8px;
}

.sect3 > p {
  font-size: 22px;
  line-height: 1.5em;
  margin-bottom: 20px;
}

.sect3 > p b {
  font-weight: 900;
}

/*sect4*/
.use {
  background: linear-gradient(to bottom, #d6ebc0, #dbf0c9);
  padding: 30px;
}

.use h2 {
  font-size: 27px;
}
.use h2 span {
  font-size: 30px;
  color: black;
}

.use ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.use ul li {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}
.use ul li b {
  font-weight: 800;
}

.use ul li img {
  border-radius: 100%;
  margin-right: 30px;
}

.use ul li p {
  font-size: 20px;
  font-weight: 500;
}

.use img {
  border-radius: 10px;
}

.color {
  padding: 40px 30px;
}

.color p {
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 32px;
}

.color p span {
  text-transform: uppercase;
}

.color ul {
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.color ul li {
  width: 50%;
  flex-direction: column;
}

.color ul li img {
  margin-right: 0;
  margin-bottom: 20px;
}

.color ul li p {
  text-align: center;
}

.price_block {
  padding-top: 380px;
  background: url("../images/pb_bg.png") 50% 10% no-repeat #f0deac;
}

.price_block.dark {
  background: linear-gradient(to bottom, #222222, black);
}

.price_block.dark .timer {
  color: white;
}

.sect4 {
  min-height: 330px;
  background: url(../images/cerf_bg.jpg) 50% 50% no-repeat;
  padding: 165px 10px 0 235px;
}

.sect4 > p {
  text-align: center;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
}

.sect4 > p > span {
  display: block;
  font-size: 30px;
  line-height: 1.1em;
}

/*sect5*/
.exp_block {
  width: 420px;
  margin: 0 auto 30px;
  background: #fff;
  padding: 0 0 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.exp_block > img {
  display: block;
  margin: 0 auto 20px;
}

.exp_block .info {
  padding: 0 25px;
  background: url(../images/spc_q.png) right 25px top no-repeat;
  margin-bottom: 25px;
}

.exp_block .info > img {
  float: left;
  border-radius: 50%;
}

.exp_block .info > p {
  overflow: hidden;
  padding-top: 5px;
  padding-left: 15px;
  font-size: 13px;
  line-height: 1.2em;
}

.exp_block .info > p > span {
  font-weight: 700;
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.2em;
  margin-bottom: 3px;
}

.exp_block .text {
  padding: 0 25px;
}

.exp_block .text > p:not(:last-child) {
  margin-bottom: 20px;
}

/*sect5*/
.sect5 h2 {
  margin-bottom: 20px;
}
.sect5 h2 span {
  color: black;
}

.sect5 .result .benef1 li p {
  color: black;
  font-size: 15px;
  font-weight: 100;
}

.sect5 > p {
  padding: 0 30px;
  margin-bottom: 20px;
}

.result > p {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
}

.benef1 .img {
  width: 100px;
  height: 100px;
  background: #25ae88;
  color: #fff;
  font-weight: 700;
  text-align: center;
  line-height: 100px;
  font-size: 28px;
  border-radius: 50%;
  margin: 0 auto 15px;
}

.benef1 .img > small {
  font-size: 19px;
}

.rev_block {
  padding-top: 15px;
}

.rev_block .title {
  padding-top: 70px;
  text-align: center;
  background: url(../images/rev_q.png) 50% 0% no-repeat;
}

.rev_block .title > span {
  display: block;
}

.rev_item {
  width: 420px;
  margin: 0 auto;
  padding: 30px;
  background: #fff;
}

.rev_item > img {
  display: block;
  margin: 0 auto 25px;
}

.rev_item > span {
  font-weight: 700;
  display: block;
  margin-bottom: 5px;
}

.rev_item .info {
  margin-top: 30px;
  font-weight: 700;
  background: url(../images/rev_q2.png) 100% 50% no-repeat;
}

.rev_item .info > p > span {
  font-weight: 700;
  display: block;
}

.reviews .owl-prev, .reviews .owl-next {
  width: 39px;
  height: 36px;
  background: url(../images/rev_arrow.png) 0% 50% no-repeat;
  position: absolute;
  top: 140px;
}

.reviews .owl-prev {
  left: 0;
}

.reviews .owl-next {
  right: 0;
  background-position: 100% 50%;
}

/*sect6*/
.sect6 {
  margin-top: -2px;
  background: #ff838e;
  color: #fff;
  padding: 30px 0 10px;
}

.sect6 .title span {
  display: block;
}

.order_list {
  font-size: 0;
  color: #000;
  text-align: center;
}

.order_list > li {
  width: 195px;
  padding: 20px 12px;
  border-radius: 8px;
  font-size: 16px;
  background: #fff;
  margin: 0 5px 10px;
  display: inline-block;
  vertical-align: top;
  min-height: 227px;
}

.order_list > li > img {
  display: block;
  margin: 0 auto 15px;
  border-radius: 50%;
}

/*offer_section.bottom*/
.offer_section.bottom {
  background: url("../images/bottom_bg.jpg") top center no-repeat #f0deab;
}
.offer_section.bottom .order_block .price {
  margin: -40px auto 40px;
}

.offer_section.bottom .box {
  background: none;
  min-height: 535px;
}

.offer_section.bottom .box:before {
  top: 370px;
}

.offer_section.bottom .box .sale {
  top: 850px;
}

.offer_section.bottom .offer_content {
  min-height: 500px;
}

.offer_section.bottom .main_title {
  padding-top: 20px;
}

.order_block {
  padding: 1px 0 20px;
}

.order_block .price {
  position: relative;
  z-index: 5;
  margin: -40px auto 380px;
}

.action_text {
  text-align: center;
}

.action_text > span {
  display: block;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 900;
  line-height: 1.3em;
  padding: 0 80px;
  margin-bottom: 10px;
}

.action_text > p {
  font-weight: 700;
  padding: 0 70px;
  margin-bottom: 20px;
}

.order_block .timer {
  color: #000;
  margin-top: 20px;
}

/* footer */
.footer_section {
  padding: 25px 0;
  background: #f0deab;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.footer_section img {
  display: block;
  margin: 0 auto 10px auto;
}

.footer_section a {
  color: #222;
  display: block;
}
@media screen and (max-width:480px) {
  .offer_content{
    padding-left: 5px;
    padding-right: 5px;
  }
}
/*# sourceMappingURL=styles.css.map */

/*# sourceMappingURL=styles.css.map */
