.spin-wrapper {
  -webkit-box-shadow: 0 0 10px;
  box-shadow: 0 0 10px;
  border: 3px solid red;
  padding: 20px 10px;
  border-radius: 10px;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 30px 0 0 0;
}

.wheel {
  max-width: 380px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.wheel img {
  max-width: 100%;
}

.wheel-img {
  -webkit-transition: 4s;
  -o-transition: 4s;
  transition: 4s;
}

.wheel-cursor {
  position: absolute;
  width: 35% !important;
  height: 35%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cursor-text {
  position: absolute;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50% !important;
  height: 50%;
  font-size: 16px;
  line-height: 61px !important;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  background-color: #ccc;
  border: 1px solid #ccc;
  top: 50%;
  left: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #fff;
  background: -o-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 255, 255, 1) 0%,
    rgba(234, 234, 234, 1) 100%
  );
  background: -o-radial-gradient(
    center,
    ellipse,
    rgba(255, 255, 255, 1) 0%,
    rgba(234, 234, 234, 1) 100%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 1) 0%,
    rgba(234, 234, 234, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=1);
}

@media all and (max-width: 520px) {
  .wheel {
    max-width: 280px;
  }
  .cursor-text {
    line-height: 45px !important;
    font-size: 12px !important;
  }
}

.order_block {
  display: none;
  text-align: center !important;
}

.order_block img {
  width: 100%;
  max-width: 300px;
}

.order_block h3 {
  font: 700 18px;
  background: 0 0;
}

.order_block {
  display: none;
}

#timer {
  display: block;
  text-align: center;
  list-style: none;
  padding: 0;
}

#timer ul {
  display: inline-block;
  list-style: none;
  color: #ff0000;
}

#timer li {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  height: 28px;
}

#timer i {
  font-style: normal;
  display: block;
  line-height: 30px;
  font-size: 19px;
  font-weight: bold;
  margin: auto;
  color: #f00;
}

.super-rotation {
  -webkit-animation-name: super-rotation;
  animation-name: super-rotation;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transition-timing-function: cubic-bezier(0.42, 0.5, 0.1, 0.0005);
  -o-transition-timing-function: cubic-bezier(0.42, 0.5, 0.1, 0.0005);
  transition-timing-function: cubic-bezier(0.42, 0.5, 0.1, 0.0005);
}

@-webkit-keyframes super-rotation {
  100% {
    -webkit-transform: rotate(1567deg);
    transform: rotate(1567deg);
  }
}

@keyframes super-rotation {
  100% {
    -webkit-transform: rotate(1567deg);
    transform: rotate(1567deg);
  }
}

.features-wrapper {
  margin: 0 0 30px 0;
}
