html {
    font-size: 20.83vw
}

@media (min-width: 480px) {
    html {
        font-size: 100px;
        overflow-x: hidden
    }
}

body {
    font-size: .20rem;
    max-width: 480px;
    margin: auto;
    line-height: 1.4;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    -webkit-box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.18);
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.18)
}

body input,
body textarea {
    border: #666 .01rem solid;
    outline: none
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
    border-color: red
}

body input:required:valid,
body textarea:required:valid {
    border-color: green
}

.img-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.img-wrap img {
    width: 100%
}

.img-wrap.pad {
    padding: 0 .2rem
}

.img-wrap.mar {
    margin: .2rem 0
}

section {
    padding-top: 0.35rem
}

.content p {
    padding: 0 0.15rem;
    padding-right: 0.1rem;
    font-size: 0.2rem;
    line-height: 0.26rem;
    letter-spacing: 0.03em
}

.content p:last-child {
    margin-bottom: 0
}

.content p b {
    font-weight: 500
}

h2 {

}

h2.shadow {
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5)
}

h2 b {
    font-weight: 500
}

.t-center {
    text-align: center
}

span.white {
    color: #fff
}

span.accent {
    color: #007095
}

span.border {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
    color: #127998
}

span.border-acc {
    text-shadow: 0 1px 0 #2C6378, 0 -1px 0 #2C6378, 1px 0 0 #2C6378, -1px 0 0 #2C6378;
    color: #fff
}

.btn {
    display: block;
    width: 3.2rem;
    height: 0.95rem;
    margin: auto;
    text-transform: uppercase;
    -webkit-animation: btn 3s linear infinite;
    animation: btn 3s linear infinite;
    font-weight: bold;
    font-size: 0.25rem;
    color: #fff;
    border: none;
    background-image: url(../images/button.png);
    background-color: transparent;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-decoration: none
}

.btn span {
    padding-bottom: 0.3rem;
    text-align: center
}

.border__top {
    width: 4.8rem;
    position: absolute;
    top: -0.28rem;
    left: 0;
    right: 0
}

.border__bot {
    width: 4.8rem;
    position: absolute;
    bottom: -0.28rem;
    left: 0;
    right: 0
}

.pulse__btn {
    position: fixed;
    right: 0.1rem;
    display: inline-block;
    bottom: 0.1rem;
    z-index: 10;
    -webkit-box-shadow: 0 0 0 rgba(11, 138, 44, 0.4);
    box-shadow: 0 0 0 rgba(11, 138, 44, 0.4);
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
    -webkit-transition: all .9s ease;
    transition: all .9s ease
}

.pulse__btn.show {
    right: -100%
}

.pulse__btn img {
    width: 100%
}

@-webkit-keyframes btn {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    50% {
        -webkit-transform: scale(1.06);
        transform: scale(1.06)
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes btn {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    50% {
        -webkit-transform: scale(1.06);
        transform: scale(1.06)
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.swiper-wrapper {
    font-family: 'Roboto', sans-serif
}

.slide-content {
    -webkit-box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.1);
    margin-bottom: 0.3rem
}

.slide__footer {
    padding: 0 .1rem
}

.slide__footer img {
    width: 100%
}

.slide__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #F7F7F7;
    padding: 0 .2rem
}

.slide__header .left {
    width: 0.18rem;
    margin-right: 0.25rem
}

.slide__header .avatar {
    width: 0.5rem;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 0.1rem
}

.slide__header .name {
    line-height: 1.1
}

.slide__header .name b {
    display: block;
    font-size: 0.19rem
}

.slide__header .name span {
    font-size: 0.16rem;
    color: #A09F9F
}

.slide__header .right {
    margin-left: auto;
    width: 0.96rem
}

.slide__main {
    padding: .2rem .3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.slide__main .right {
    background: #0084FF;
    border-radius: 12px 3px 12px 12px;
    color: #fff;
    line-height: 1.2;
    font-size: 0.16rem;
    padding: .1rem .2rem;
    margin-left: auto;
    position: relative;
    margin-bottom: 0.2rem;
    border-radius: 12px 12px 3px 12px;
    max-width: 70%
}

.slide__main .left {
    position: relative;
    max-width: 70%;
    background: #F6F6F6;
    margin-right: auto;
    margin-bottom: 0.2rem
}

.slide__main .left span {
    padding: 0.2rem 0.1rem;
    padding-bottom: .2rem;
    display: inline-block;
    font-size: 0.16rem
}

.slide__main .left img {
    width: 100%
}

.slide__main .check {
    position: absolute;
    bottom: -0.1rem;
    width: 0.2rem
}

.slide__main .check img {
    width: 100%
}

.slide__main .check.r {
    right: 0;
    -webkit-transform: translateX(110%);
    transform: translateX(110%)
}

.slide__main .check.l {
    left: 0;
    -webkit-transform: translateX(-110%);
    transform: translateX(-110%)
}

.audio__wrapper {
    width: 100%;
    margin: .25rem 0
}

.audio__wrapper .audio__comment {
    margin: .05rem 0
}

.audio__wrapper .audio__comment--left {
    margin-right: auto;
    border-radius: 3px 30px 30px 3px
}

.audio__wrapper .audio__comment--left .audio__inner {
    border-radius: 3px 30px 30px 3px
}

.audio__wrapper .audio__comment--left:first-child {
    border-radius: 30px 30px 30px 3px
}

.audio__wrapper .audio__comment--left:first-child .audio__inner {
    border-radius: 30px 30px 30px 3px
}

.audio__wrapper .audio__comment--left:last-child {
    border-radius: 3px 30px 30px 30px
}

.audio__wrapper .audio__comment--left:last-child .audio__inner {
    border-radius: 3px 30px 30px 30px
}

.audio__wrapper .audio__comment--right {
    margin-left: auto;
    border-radius: 30px 3px 3px 30px
}

.audio__wrapper .audio__comment--right .audio__inner {
    border-radius: 30px 3px 3px 30px
}

.audio__wrapper .audio__comment--right:first-child {
    border-radius: 30px 30px 3px 30px
}

.audio__wrapper .audio__comment--right:first-child .audio__inner {
    border-radius: 30px 30px 3px 30px
}

.audio__wrapper .audio__comment--right:last-child {
    border-radius: 30px 3px 30px 30px
}

.audio__wrapper .audio__comment--right:last-child .audio__inner {
    border-radius: 30px 3px 30px 30px
}

.audio__comment {
    height: 0.5rem;
    width: 40%;
    background: #0084ff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    -webkit-transition: ease .4s all;
    transition: ease .4s all
}

.audio__comment:before {
    content: '';
    position: absolute;
    left: 0.2rem;
    right: 0.2rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 1px;
    background: #fff;
    display: block;
    z-index: 1
}

.audio__inner {
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: hidden;
    padding: 0 .2rem;
    border-radius: 30px
}

.audio__comment--right {
    margin: .25rem 0;
    margin-left: auto;
    border-radius: 30px
}

.audio__comment--left {
    margin: .25rem 0;
    margin-right: auto;
    border-radius: 30px
}

.audio__comment--left .audio__inner {
    border-radius: 30px
}

.audio__control {
    width: 0.22rem;
    height: 0.22rem;
    position: relative;
    overflow: hidden;
    z-index: 2
}

.audio__control button {
    width: 0.22rem;
    height: 0.22rem;
    border-radius: 50%;
    background: #fff;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: ease .5s all;
    transition: ease .5s all;
    outline: none
}

.audio__control button img {
    width: 0.7rem;
    height: 0.11rem
}

.audio__control button.audio__stop {
    z-index: -1
}

.audio__control.play .audio__play {
    opacity: 0
}

.audio__info {
    width: 0.6rem;
    height: 0.2rem;
    border-radius: 30px;
    background: #fff;
    padding: 0;
    font-size: 0.13rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #0084FF;
    position: relative;
    z-index: 3
}

.audio__progress {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    z-index: -1;
    background: #004fff;
    -webkit-transition: .4s ease all;
    transition: .4s ease all
}

.pagination__wrap {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.pagination__wrap .reviews__pag {
    position: static
}

.pagination__wrap .reviews__pag .swiper-pagination-bullet {
    margin: 0 2px
}

.pagination__wrap .swiper-pagination-bullet {
    width: 0.55rem;
    height: 0.1rem;
    border-radius: 50px
}

.pagination__wrap-active {
    background: #006080;
    width: .55rem
}


/*# sourceMappingURL=main.css.map */