.reviews-slide__box{
margin-bottom: 10px;
}
.reviews-slide__likes{
  font-weight: 700;
  font-family: inherit;
  font-size: 18px;
  padding: 10px 10px 5px;
}
.reviews-slide__text{
  padding: 10px 10px 25px;
  font-weight: 400;
  font-family: inherit;
  font-size: 18px;
}
.reviews-slide__text strong{
  font-weight: 700;
}