@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin'), local('Roboto-Thin'), url('../font-17.woff2.html') format('woff2'), url('../fonts/font-17.woff') format('woff'), url('../fonts/font-18.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url('../fonts/font-19.woff2') format('woff2'), url('../fonts/font-20.woff') format('woff'), url('../fonts/font-21.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'), url('../font-23.woff2.html') format('woff2'), url('../fonts/font-23.woff') format('woff'), url('../fonts/font-24.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url('../font-26.woff2.html') format('woff2'), url('../fonts/font-26.woff') format('woff'), url('../fonts/font-27.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'), url('../fonts/font-28.woff2') format('woff2'), url('../fonts/font-29.woff') format('woff'), url('../fonts/font-30.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Italic'), local('Roboto-Italic'), url('../font-32.woff2.html') format('woff2'), url('../fonts/font-32.woff') format('woff'), url('../fonts/font-33.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'), url('../font-35.woff2.html') format('woff2'), url('../fonts/font-35.woff') format('woff'), url('../fonts/font-36.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url('../font-38.woff2.html') format('woff2'), url('../fonts/font-38.woff') format('woff'), url('../fonts/font-39.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/font-40.woff2') format('woff2'), url('../fonts/font-41.woff') format('woff'), url('../fonts/font-42.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('../fonts/font-43.woff2') format('woff2'), url('../fonts/font-44.woff') format('woff'), url('../fonts/font-45.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black'), local('Roboto-Black'), url('../font-47.woff2.html') format('woff2'), url('../fonts/font-47.woff') format('woff'), url('../fonts/font-48.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url('../fonts/font-49.woff2') format('woff2'), url('../fonts/font-50.woff') format('woff'), url('../fonts/font-51.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
