<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<!-- <base href="/"> -->
	<title>Dokonalý úsměv bez návštěvy zubaře</title>
	<meta name="description" content>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta property="og:title" content="Snap-On Smile"/>
<meta property="og:description" content="Dokonalý úsměv bez návštěvy zubaře"/>
<meta property="og:image" content="https://i.imgur.com/Ml3dIMy.png"/>
<meta property="og:type" content="website"/>
	<!-- Template Basic Images Start -->
	<meta property="og:image" content="favicon.ico">
	<link rel="icon" href="favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon-180x180.png">
	<!-- Template Basic Images End -->
	
	<!-- Custom Browsers Color Start -->
	<meta name="theme-color" content="#000">
	<!-- Custom Browsers Color End -->
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="css/flaticon.css">
	<link rel="stylesheet" href="css/twentytwenty.css">
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<!--<link rel="stylesheet" href="css/animate.css">-->
	<link rel="stylesheet" href="css/main.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>



<!-- LT code insertion -->
<!-- /LT code insertion -->
</head>
<body>
	<div class="site-wrapper">
		<header class="site-header">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-6 logo-wrap">
						<a class="logo">
							<img src="images/logo.png" alt="">
						</a>
					</div>
					<div class="col-xl-18 col-lg-16 f_scrin_items">
						<div class="header-img">
							<div class="header-img-item">
								<img src="images/header-img-1.png" alt="">
								<div class="header-img-txt">
									Používá se na <br> 94 klinikách v Praze
								</div>
							</div>
							<div class="header-img-item">
								<img src="images/header-img-2.png" alt="">
								<div class="header-img-txt">
									Vyrobeno z<br> ekologických materiálů
								</div>
							</div>
							<div class="header-img-item">
								<img src="images/header-img-3.png" alt="">
								<div class="header-img-txt">
									Pohodlné pro <br> neustálé nošení
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</header>
		<main class="site-main">
			<section class="main-screen">
				<div class="girl-bg">
					<div class="container">
						<div class="row">
							<div class="col-lg-16">
								<div class="main-scr-cnt">
									<h1 class="main-caption wow fadeInUp">Dokonalý úsměv bez <br> návštěvy zubaře</h1>
									<div class="main-scr-sub-title wow fadeInUp">S inovativní technologií </div>
									<ul class="main-scr-list wow fadeInUp">
										<li>Ultra tenké, odolné a pohodlné</li>
										<li>Jedna velikost se hodí pro všechny</li>
										<li>Spolehlivé upevnění</li>
										<li>Americká technologie</li>
									</ul>
									<div class="price-block wow fadeInUp" style="color:white">
										<div class="price-item">
											<div class="price-title">Běžná cena</div>
											<div class="price-old-price oldproductsum"><x-oldprice>2098</x-oldprice> 
											<x-currency>Kč</x-currency></div>
										</div>
										<div class="price-item">
											<div class="price-title">Cena dnes</div>
											<div class="price-new-price productsum"><x-newprice>1049</x-newprice> 
											<x-currency>Kč</x-currency></div>
										</div>
									</div>
									<a href="#main-modal" class="button main-modal">OBJEDNAT TEĎ</a>
									<div class="remainder">Zbývající položky na skladě: <span>15</span><br></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="what">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h2 class="caption wow fadeInUp">Co je Snap-On Smile?</h2>
							<p class="what-cnt wow fadeInUp">To je know-how ve světě stomatologie.
								Po 3 minutách nasazování zubů 
							 uvidíte v zrcadle dokonalý 
							 sněhobílý úsměv. Je důležité, aby fazety Snap-On Smile fungovaly, i když 
							 vám chybí zuby.</p>
							<div class="what-img wow fadeInUp d-block d-lg-none">
								<img src="images/what-img.jpg" class="img-responsive" alt="">
							</div>
							<ol class="what-list wow fadeInUp">
								<li>Pohodlné a lehké dýhy vyrobené 
									pomocí 3D technologie, která zaručuje maximální pohodlí a bezpečnost 
									při používání</li>
							</ol>
						</div>
						<div class="col-lg-12">
							<div class="what-img d-none d-lg-block">
								<img src="images/what-img.jpg" alt="" class="wow fadeInUp">
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="limitations">
				<div class="container">
					<div class="row">
						<div class="col-lg-11">
							<h2 class="caption wow fadeInUp">Jaké<br> nedostatky odstraňuje<br> Snap-On Smile?</h2>
							<div class="limitations-wrap">
								<div class="limitations-item wow fadeInUp">
									<div class="limitations-img">
										<img src="images/limitations-1.jpg" alt="">
									</div>
									<div class="limitations-cnt">
										<div class="limitations-title">Křivé zuby<br> špatný skus zubů</div>
										<p class="limitations-desc">Hlavní indikací je 
											vrozené <br> nebo získané zakřivení jednoho 
											nebo více zubů. Snap-On Smile 
											koriguje polohu čelisti, což 
											zajišťuje rovnoměrnější 
											rozložení zátěže na chrup.</p>
									</div>
								</div>
								<div class="limitations-item wow fadeInUp">
									<div class="limitations-img">
										<img src="images/limitations-2.jpg" alt="">
									</div>
									<div class="limitations-cnt">
										<div class="limitations-title">Fluoróza</div>
										<p class="limitations-desc">Ztmavnutí zubní skloviny. Snap-On 
											Smile zcela skryje zažloutlé, 
											zabarvené zuby,<br> úsměv se stává esteticky příjemným.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-11 offset-lg-2">
							<div class="limitations-wrap limitations-wrap-2">
								<div class="limitations-item wow fadeInUp">
									<div class="limitations-img">
										<img src="images/limitations-3.jpg" alt="">
									</div>
									<div class="limitations-cnt">
										<div class="limitations-title">Diastema nebo velká mezera 
											mezi zuby</div>
										<p class="limitations-desc">Při pravidelném nošení Snap-On Smile 
											tuto vadu skryje, vrátí zuby do 
											anatomicky správné polohy. 
											Levnější než rovnátka, snadno 
											se nasazují a sundávají bez 
											speciálního vybavení.</p>
									</div>
								</div>
								<div class="limitations-item wow fadeInUp">
									<div class="limitations-img">
										<img src="images/limitations-4.jpg" alt="">
									</div>
									<div class="limitations-cnt">
										<div class="limitations-title">Vizuální vady</div>
										<p class="limitations-desc">Schopnost okamžitě ovlivnit <br> a napravit situaci, když se <br> v chrupu objeví vady.</p>
									</div>
								</div>
								<div class="limitations-item wow fadeInUp">
									<div class="limitations-img">
										<img src="images/limitations-5.jpg" alt="">
									</div>
									<div class="limitations-cnt">
										<div class="limitations-title">Chybí jeden <br> nebo více zubů</div>
										<p class="limitations-desc">Maskuje různé vady 
											chrupu.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>


        


			
			<section class="advice">
				<div class="container">
					<div class="row">
						<div class="col-lg-24">
							<h2 class="caption wow fadeInUp">Rady zubaře</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-14 order-2 order-lg-1">
							<div class="quote wow fadeInUp"><p>Dýhy jsou dnes samozřejmě módním trendem, který poskytuje skutečnou příležitost rychle skrýt existující 
								vady úsměvu. Nesmíme však zapomínat, že se v žádném případě jedná o obrušování skloviny a bez ohledu na to, jak 
								krásně se vám říká o minimálním poškození a dlouhodobém účinku - to vše
								je dočasné a sklovina na vašich zubech nezaroste znovu. Jsem rád, že 
								každým rokem stále více lidí dává 
								přednost snímatelným 
								fazetám (čepicím) před vyvrtáváním 
								zubů.
</p><p>Snap-On Smile Lab je předním 
	světovým výrobcem 
	snímatelných fazet. S touto společností spolupracujeme již 
	čtyři roky. Vyrábí 
	snímatelné dýhy jak na zakázku dle 
	odlitků, tak univerzální tři 
	velikosti. Dobré je, že jsou 
	volně dostupné a lze je 
	objednat přímo k vám domů. Našim zákazníkům poskytujeme 
	univerzální velikosti pro období 
	protetiky, jelikož padnou každému a 
	nemusí mít skladem mnoho 
	velikostí. </p>
<p>Na trhu je mnoho padělků, 
	musíte pochopit, že 
	nezůstanou ve vaší čelisti nebo nemusí vůbec sedět. Funkčních věcí je málo a 
	je lepší je koupit od oficiálního 
	výrobce.</p></div>
							
						</div>
						<div class="col-lg-10 order-1 order-lg-2">
							<div class="advice-img-wrap wow fadeInUp">
								<img src="images/stomatolog-ortadont.png" alt="" class="img-responsive">
								<div class="advice-img-cnt">
									<div class="advice-img-title">Jozef Koci</div>
									<div class="advice-img-desc">Lékař - ortodontista</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="contacts">
				<div class="container">
					<div class="row">
						<div class="col-lg-24">
							<div class="contact-bg">
								<div class="row justify-content-end">
									<div class="col-xl-8 col-lg-9">
										<form method="post" class="contact-form wow fadeInUp">
											<div class="form-top-cnt">
												<div class="form-top-item">
													<div class="form-top-cnt-action">Akce</div>
													<div class="form-top-cnt-old-price oldproductsum"><x-oldprice>2098</x-oldprice> 
													<x-currency>Kč</x-currency></div>
												</div>
												<div class="form-top-item">
													<div class="form-top-cnt-title">Cena dnes</div>
													<div class="form-top-cnt-new-price productsum"><x-newprice>1049</x-newprice> 
													<x-currency>Kč</x-currency></div>
												</div>
											</div>
<input name="offer_id" type="hidden" value="{offer_id}">
<input name="geo" type="hidden" value="">
<input name="web_id" type="hidden" value="{web_id}">
<input name="click_id" type="hidden" value="{click_id}">
<input name="time_zone" type="hidden" value="+3">
<input name="lang" type="hidden" value="RU">
    											<input class="input-form phone" name="name" type="text" placeholder="Zadejte své jméno" required>
											<input class="input-form phone" name="phone" type="tel" placeholder="Telefon (aktivní mobilní)" required>
											<div class="reolader">
												<button class="mm_button button submit-btn">Zadejte své jméno</button>
												<div class="ajax_loader_block"><img class="ajax_loader" src="images/ajax-loader.gif" alt=""> <span class="ajax_loader">Odesílání dat</span></div>
											</div>

											<div class="contact-bottom-txt">Zbývající položky na skladě:  <span>15</span><br></div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="steps">
				<div class="container">
					<div class="row">
						<div class="col-lg-24">
							<h2 class="caption wow fadeInUp">3 jednoduché kroky a váš úsměv se stane neodolatelným</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							
							<div class="history-tl-container wow fadeInUp">
								<ul class="tl">
									<li class="tl-item" ng-repeat="item in retailer_history wow fadeInUp">
										<div class="item-title">1 krok</div>
										<div class="item-detail">Namočte fixátor (je součástí balení) 
											do horké vody na 2 minuty</div>
									</li>
									<li class="tl-item wow fadeInUp" ng-repeat="item in retailer_history">
										<div class="item-title">2 krok</div>
										<div class="item-detail">Přitlačte držáky pevně k zubům pro přizpůsobení tvaru 
											čelisti</div>
									</li>
									<li class="tl-item wow fadeInUp" ng-repeat="item in retailer_history">
										<div class="item-title">3 krok</div>
										<div class="item-detail">Nasaďte dýhy. Usmívejte se častěji,<br> 
											protože krásný úsměv vám opravdu sluší!</div>
									</li>
								</ul>
							</div>
							<div class="attention wow fadeInUp">Výrobce doporučuje 
								zakoupit speciální zubní kartáček 
								a pastu pro sadu Snap-On Smile a důkladně si vyčistit zuby, než začnete fazetu používat. 
								Dýhy je potřeba pravidelně 
								dezinfikovat
						</div>
						</div>
						<div class="col-lg-12">
							<div class="video-instr">
                               
								<video src="./assets/video.mp4" muted autoplay loop playsinline width="100%" height="auto"></video>
						</div>
						</div>
					</div>
				</div>
			</section>
			<section class="reasons">
				<div class="container">
					<div class="row">
						<div class="col-lg-24">
							<div class="plus-desc">
								<h2 class="caption wow fadeInUp">3 hlavní důvody, proč si koupit Dýhy – Snap-On Smile mezi našimi klienty
									</h2>

							</div>
						</div>
					</div>
					<div class="reasons-items">
						<div class="row no-gutters">
							<div class="col-lg-8 col-md-12 order-1 order-md-1 order-lg-1 wow fadeInUp">
								<div class="reasons-item before-bottom before-1">
									<div class="reasons-cnt">
										<div class="reasons-title">Když jsou vaše zuby opotřebované a mají vady</div>
										<div class="reasons-desc">Dýhy Snap-On Smile vám pomohou zdokonalit váš úsměv. Sníží také 
											tlak na zuby, když
											jíte</div>
									</div>
								</div>
							</div>
							<div class="col-lg-8 col-md-12 order-6 order-md-6 order-lg-2 wow fadeInUp">
								<div class="reasons-item reasons-item-img reasons-img-3 before-top before-2"></div>
							</div>
							<div class="col-lg-8 col-md-12 order-3 order-md-4 order-lg-3 wow fadeInUp">
								<div class="reasons-item before-bottom">
									<div class="reasons-cnt">
										<div class="reasons-title">V době protetiky</div>
										<div class="reasons-desc">Ideální varianta při absenci 
											poloviny chrupu. Snap-On Smile 
											má jednodílný design</div>
									</div>
								</div>
							</div>
							<div class="col-lg-8 col-md-12 order-2 order-md-2 order-lg-4 wow fadeInUp">
								<div class="reasons-item reasons-item-img reasons-img-1"></div>
							</div>
							<div class="col-lg-8 col-md-12 order-5 order-md-5 order-lg-5 wow fadeInUp">
								<div class="reasons-item">
									<div class="reasons-cnt">
										<div class="reasons-title">Svatby, narozeniny, výročí</div>
										<div class="reasons-desc">Kromě výběru krásného oblečení, make-upu a účesů je velmi důležité mít oslnivý úsměv a pak bude 
											váš obraz dokonalý na fotografiích a v paměti hostů.</div>
									</div>
								</div>
							</div>
							<div class="col-lg-8 col-md-12 order-4 order-md-3 order-lg-6 wow fadeInUp">
								<div class="reasons-item reasons-item-img reasons-img-2 before-top before-3"></div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="history">
				<div class="container">
					<div class="row">
						<div class="col-lg-24">
							<h2 class="caption wow fadeInUp">Skutečné příběhy našich klientů</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-24">
							<div class="owl-carousel owl-theme slider-1 wow fadeInUp">
								<div class="slider-item">
									<div class="quote">Celý život mě škádlili za své křivé 
										zuby a ošklivý úsměv. Byl to 
										nejlepší den, když jsem na internetu 
										narazila na reklamu Snap-On Smile. Dvěma kliknutími jsem provedla objednávku a po 4 dnech jsem obdržela dýhy poštou. 
										Podařilo se mi je nasadit velmi snadno a rychle a popravdě řečeno, když jsem se poprvé podívala do zrcadla, nevěřila jsem svým očím. Dokonalý bílý úsměv. 
										Život se úplně změnil. 
										Díky Snap-On Smile</div>
									<div class="slider-data">
										<div class="limitations-item">
											<div class="limitations-img">
												<img src="images/slider-1-1.jpg" alt="">
											</div>
											<div class="limitations-cnt">
												<div class="limitations-title">Věra Janova</div>
												<div class="limitations-desc">24 let</div>
											</div>
										</div>
									</div>
								</div>


								<div class="slider-item">
									<div class="quote">Od dětství mám žluté a křivé 
										zuby. Výsledkem jsou pochybnosti o 
										sobě, nedostatek osobního života a naprostá neochota navazovat nové známosti. Dýhy Snap-On Smile mi doslova zachránily život. Úsměv 
										díky nim vypadá skvěle - 
										je takový sněhově bílý. Objevili se noví známí, staří přátelé 
										přiznali, že dříve se mnou nebylo 
										moc příjemné komunikovat. Uplynul rok a teď jsem šťastný manžel krásné 
										manželky, život zajiskřil novými barvami. Díky Snap-On Smile</div>
									<div class="slider-data">
										<div class="limitations-item">
											<div class="limitations-img">
												<img src="images/slider-1-6.jpg" alt="">
											</div>
											<div class="limitations-cnt">
												<div class="limitations-title">Roman Kirp</div>
												<div class="limitations-desc">24 let</div>
											</div>
										</div>
									</div>
								</div>


								<div class="slider-item">
									<div class="quote">100% věřím, že používání Snap-On Smile je nejlepší náhradou za návštěvu zubaře. Abych byl upřímná, riskovala jsem kupovat, došlo k nedostatku důvěry v produkt a teď toho ani trochu nelituji. Dokonce i finanční záležitosti se zlepšily. Myslím, že 
										moji klienti se mnou více 
										mluví. Krásný úsměv vždy 
										potěší.
										</div>
									<div class="slider-data">
										<div class="limitations-item">
											<div class="limitations-img">
												<img src="images/slider-1-2.jpg" alt="">
											</div>
											<div class="limitations-cnt">
												<div class="limitations-title">Michaela Horvathova</div>
												<div class="limitations-desc">30 let</div>
											</div>
										</div>
									</div>
								</div>

								<div class="slider-item">
									<div class="quote">
										Snap-On Smile používám asi 4 
										měsíce. Během používání - 
										pouze pozitivní emoce. Nasazují 
										se velmi snadno a spolehlivě, samotné zuby jsou bílé, rovnoměrné, prostě super. Pořád si nemůžu zvyknout, že jsou pořád stejně čisté, občas se nutím 
										si vyčistit zuby, to je jedno z mínusů, není motivace přestat kouřit! A co je nejdůležitější, lidé, kteří neviděli můj skutečný „úsměv“, si ani 
										neuvědomují, že to nejsou přirozené 
										zuby.</div>
									<div class="slider-data">
										<div class="limitations-item">
											<div class="limitations-img">
												<img src="images/slider-1-5.jpg" alt="">
											</div>
											<div class="limitations-cnt">
												<div class="limitations-title">Vladimira Pešková</div>
												<div class="limitations-desc">22 let</div>
											</div>
										</div>
									</div>
								</div>


								<div class="slider-item">
									<div class="quote">e to poprvé, co píšu recenzi na cokoli, ale fazety Snap-On Smile za to stojí. Zuby 
										byly vždy nejdůležitějším komplexem 
										v mém životě a bohužel 
										nebyly peníze na dobrého zubaře a manipulace nutné ke zlepšení úsměvu (hypotéka vyhrála v boji s hypotékou / půjčkou na zuby). Viděl jsem 
										reklamu a nebyl jsem naštvaný, že jsem to koupil. Dýhy se upevňují snadno a bezpečně a zuby vypadají velmi přirozeně. Doporučuji.</div>
									<div class="slider-data">
										<div class="limitations-item">
											<div class="limitations-img">
												<img src="images/slider-1-7.jpg" alt="">
											</div>
											<div class="limitations-cnt">
												<div class="limitations-title">Jakub Hirka</div>
												<div class="limitations-desc">29 let</div>
											</div>
										</div>
									</div>
								</div>


								<div class="slider-item">
									<div class="quote">"Později toho budeš litovat!" Všichni mi říkali... Nejen, že jsem toho nelitoval, jsem ráda, že jsem se rozhodl uvěřit 
										reklamě a objednat Snap-On Smile 
										a teď si užívám svůj úsměv)</div>
									<div class="slider-data">
										<div class="limitations-item">
											<div class="limitations-img">
												<img src="images/slider-1-3.jpg" alt="">
											</div>
											<div class="limitations-cnt">
												<div class="limitations-title">Marie Gorolova</div>
												<div class="limitations-desc">35 let</div>
											</div>
										</div>
									</div>
								</div>

								<div class="slider-item">
									<div class="quote">Uplynul přesně rok, co nosím fazety Snap-On Smile. Dnes už si 
										svůj život s křivými zuby neumím 
										představit, nikdy bych si neodpustil, kdybych se tehdy nerozhodl pro objednávku v internetovém obchodě. To není luxus, který si člověk nemůže 
										dovolit.</div>
									<div class="slider-data">
										<div class="limitations-item">
											<div class="limitations-img">
												<img src="images/slider-1-4.jpg" alt="">
											</div>
											<div class="limitations-cnt">
												<div class="limitations-title">Lenka Tomášová</div>
												<div class="limitations-desc">27 let</div>
											</div>
										</div>
									</div>
								</div>
								
								
								
							
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="how-work">
				<div class="container">
					<div class="row">
						<div class="col-lg-24">
							<h2 class="caption wow fadeInUp">Jak pracujeme</h2>
						</div>
						<div class="history-tl-container tl-container-horyzontal wow fadeInUp">
							<ul class="tl">
								<li class="tl-item" ng-repeat="item in retailer_history">
									<div class="tl-item-img">
										<img src="images/steps-img-1.png" alt="">
									</div>
									<div class="item-title">1. Zadáte objednávku <br> na webu</div>
								</li>
								<li class="tl-item" ng-repeat="item in retailer_history">
									<div class="tl-item-img">
										<img src="images/steps-img-2.png" alt="">
									</div>
									<div class="item-title">2. Manažer<br> vás bude kontaktovat</div>
								</li>
								<li class="tl-item" ng-repeat="item in retailer_history">
									<div class="tl-item-img">
										<img src="images/steps-img-3.png" alt="">
									</div>
									<div class="item-title">3. Dodáme<br> na zadanou adresu</div>
								</li>
								<li class="tl-item" ng-repeat="item in retailer_history">
									<div class="tl-item-img">
										<img src="images/steps-img-4.png" alt="">
									</div>
									<div class="item-title">4. Platíte za zboží<br> až po obdržení</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<footer class="site-footer">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-xl-8 col-lg-12">
							<h2 class="caption wow fadeInUp">Pospěšte si s objednávkou<br> Dýhy Snap-On Smile</h2>
							<div class="footer-desc wow fadeInUp">Nejjednodušší<br> a cenově dostupný způsob, <br>jak udělat váš  <br> úsměv krásný.<br>Zkuste to i vy!</div>

						</div>
						<div class="col-xl-7 col-lg-12">
							<form method="post" class="contact-form wow fadeInUp">
								<div class="form-top-cnt">
									<div class="form-top-item">
										<div class="form-top-cnt-action">Akce</div>
										<div class="form-top-cnt-old-price oldproductsum"><x-oldprice>2098</x-oldprice> 
										<x-currency>Kč</x-currency></div>
									</div>
									<div class="form-top-item">
										<div class="form-top-cnt-title">Cena dnes</div>
										<div class="form-top-cnt-new-price productsum"><x-newprice>1049</x-newprice> 
										<x-currency>Kč</x-currency></div>
									</div>
								</div>
<input name="offer_id" type="hidden" value="{offer_id}">
<input name="geo" type="hidden" value="">
<input name="web_id" type="hidden" value="{web_id}">
<input name="click_id" type="hidden" value="{click_id}">
<input name="time_zone" type="hidden" value="+3">
<input name="lang" type="hidden" value="RU">
    								<input class="input-form phone" name="name" type="text" placeholder="Zadejte své jméno" required>
								<input class="input-form phone" name="phone" type="tel" placeholder="Telefon (aktivní mobilní)" required>
								<div class="reolader">
									<button class="mm_button button submit-btn">OBJEDNAT</button>
									<div class="ajax_loader_block"><img class="ajax_loader" src="images/ajax-loader.gif" alt=""> <span class="ajax_loader">Odesílání dat</span></div>
								</div>

								<div class="contact-bottom-txt">Zbývající položky na skladě:  <span>15</span><br></div>
							</form>
						</div>
					</div>
				</div>
			</footer>
		</main>
	</div><!--site-wrapper-->
	<center style="padding: 15px 0;">
		BEAUT-E SHOP 
			<br>
			Rytířská 406/10, 110 00 Staré Město, Prague, Czechia 
			<br>
			© 2013-<script>document.write(new Date().getFullYear())</script> All rights reserved.
			<br>
			<img src="icons.png" style="width: auto; max-width:100%; height:auto; margin: auto">
			<br>
			<a href="/privacypolicy" target="_blank">Privacy policy</a>
			<a href="/general-conditions-of-sale" target="_blank">General conditions of sale</a>
			<a href="/legal-warning" target="_blank">Legal warning</a>
	</center>

	<div id="main-modal" class="mfp-hide modal-window">
		<div class="modal-wrap">
			<div class="modal-title">
				OBJEDNAT TEĎ
			</div>
			<div class="modal-form-wrap">
				<form method="post" class="contact-form">
<input name="offer_id" type="hidden" value="{offer_id}">
<input name="geo" type="hidden" value="">
<input name="web_id" type="hidden" value="{web_id}">
<input name="click_id" type="hidden" value="{click_id}">
<input name="time_zone" type="hidden" value="+3">
<input name="lang" type="hidden" value="RU">
    					<input class="input-form phone" name="name" type="text" placeholder="Zadejte své jméno" required>
					<input class="input-form phone" name="phone" type="tel" placeholder="Telefon (aktivní mobilní)" required>
					<div class="reolader">
						<button class="mm_button button submit-btn">OBJEDNAT</button>
						<div class="ajax_loader_block"><img class="ajax_loader" src="images/ajax-loader.gif" alt=""> <span class="ajax_loader">Odesílání dat</span></div>
					</div>

				</form>
			</div>
		</div>
	</div>
<style>
.form-control {
	border: 1px solid #e9e9e9;
  background-color: #f5f5f5;
  margin-bottom: 0.88rem;
  padding: 0.7rem 0.72rem;
  width: 100%;
}
</style>
	 
	<!-- Scripts -->
    <script src=" https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="js/jQuery-Mask-Plugin.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/jquery.event.move.js"></script>
	<script src="js/jquery.twentytwenty.js"></script>
	<script src="js/owl.carousel.min.js"></script>

	<script src="js/my-scripts.js"></script>

<script type="text/javascript" src="/libs/js/common.js"></script>
<script>
    $(document).ready(function() {
        $.init({

            priceSelector: ".new-cost",
            oldPriceSelector: ".old-cost",
            reportFormSelector: ".report-abuse__form",
            reportCallback: function (data) {
                console.log('ReportCallback:', data);
            },
            callback: function() {
                console.log("Do something after prices changing");

            }
        });
    });
</script>

</body>
</html>