.placeholder::-webkit-input-placeholder {
    color: #5f5f5f;
}

.placeholder::-moz-placeholder {
    color: #5f5f5f;
}

.placeholder:-moz-placeholder {
    color: #5f5f5f;
}

.placeholder:-ms-input-placeholder {
    color: #5f5f5f;
}

.placeholder:focus::-webkit-input-placeholder {
    color: transparent;
}

.placeholder:focus::-moz-placeholder {
    color: transparent;
}

.placeholder:focus:-moz-placeholder {
    color: transparent;
}

.placeholder:focus:-ms-input-placeholder {
    color: transparent;
}

.placeholder:focus {
    outline: none;
}

:focus {
    outline: none;
}

.m1-form {
    margin-top: 40px;
    padding: 0 20px;
}
.form-control,
.m1-form__field {
    display: block;
    width: 100%;
    height: 75px;
    line-height: 75px;
    background: #fff;
    border: none;
    font-size: 27px;
    font-weight: 300;
    color: #5f5f5f;
    padding: 0 20px;
    margin-bottom: 15px;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

b,
strong {
    font-weight: 700;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Museo Sans', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #000;
    background: #1c1c1c;
}

.wrap {
    position: relative;
    width: 480px;
    min-height: 100vh;
    margin: 0 auto;
    background: #fff;
}

section {
    margin: 100px 0;
}

button,
textarea,
input {
    font-family: 'Museo Sans', sans-serif;
}

h2.title {
    color: #000;
    font-size: 45px;
    font-weight: 500;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    padding: 0 20px;
    margin-bottom: 40px;
}

h2.title span {
    font-weight: 900;
}

h2.title span.color {
    color: #f17054;
}

/*   video   */

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed,
.video-container .youtube {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*   main-title   */

.main-title {
    text-align: center;
    text-transform: uppercase;
}

.main-title--offer {
    margin-bottom: 470px;
}

.main-title span {
    display: block;
    font-weight: 900;
    font-size: 50px;
    line-height: 100%;
}

.main-title {
    line-height: 130%;
    font-size: 40px;
    letter-spacing: 2.4px;
}

/*   offer   */

.offer {
    background: url("../images/offer.jpg") 50% 0 no-repeat #ffe4cc;
    padding: 20px 0 40px;
}

.offer--bottom {
    position: relative;
    background-image: url("../images/offer-bottom.jpg");
    background-color: #fff1e3;
}

.offer__box {
    position: relative;
    background: url("../images/wave.png") 50% 0 no-repeat;
    min-height: 441px;
    margin-bottom: 40px;
}

.offer__product {
    display: block;
    position: absolute;
    left: 5px;
    top: 75px;
}

/*   sale   */

.sale {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 125px;
    background: url("../images/sale.png") 0 0 no-repeat;
    color: #e44826;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 10;
}

.sale--offer {
    position: absolute;
    left: 50px;
    top: -10px;
}

.sale--bottom {
    position: absolute;
    right: 30px;
    top: 140px;
}

.sale b {
    font-weight: 900;
    font-size: 40px;
    line-height: 100%;
}

/*   bullet   */

.bullet {
    margin-left: 270px;
    padding: 70px 10px 0 0;
}

.bullet__item {
    background: url("../images/check-icon.png") 0 0 no-repeat;
    font-size: 20px;
    line-height: 130%;
    padding: 10px 0 0 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.bullet__item--color {
    color: #e44826;
    background-image: url("../images/check-color-icon.png");
}

/*   price   */

.price {
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

.price--offer {
    margin-bottom: 20px;
}

.price__old {
    margin-right: 40px;
}

.price__label {
    font-size: 22px;
    line-height: 100%;
    margin-bottom: 15px;
}

.price__val--old {
    font-size: 28px;
    line-height: 100%;
    text-decoration: line-through;
}

.price__val--new {
    font-weight: 900;
    font-size: 56px;
    line-height: 100%;
}

.date-sale {
    font-size: 17px;
    text-align: center;
    margin-top: 15px;
}

.button-m {
    display: block;
    width: 440px;
    height: 114px;
    line-height: 114px;
    background: #000;
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 auto;
    cursor: pointer;
    border: none;
}

/*   video-gif   */

.video-gif {
    display: block;
    width: 100%;
    margin-bottom: 100px;
}

/*   result   */

.result {
    display: flex;
    justify-content: center;
}

.result__item img {
    display: block;
    border-radius: 50%;
}

.result__item {
    position: relative;
    margin: 0 6px;
}

.result__item:before {
    position: absolute;
    left: 10px;
    top: -50px;
    display: block;
    width: 86px;
    height: 86px;
    line-height: 86px;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 50%;
}



/*   benefits   */

.benefits__item:nth-child(1) {
    background: url("../images/ben1.jpg") 50% 0 no-repeat;
    height: 792px;
    margin-bottom: 50px;
}

.benefits__item:nth-child(2) {
    background: url("../images/ben2.jpg") 50% 0 no-repeat;
    height: 698px;
    margin-bottom: 0;
}

.benefits__item:nth-child(3) {
    background: url("../images/ben3.jpg") 50% 0 no-repeat;
    height: 608px;
    margin-bottom: 50px;
    position: relative;
}

.benefits__item:nth-child(4) {
    margin-bottom: 55px;
    display: grid;
    overflow: hidden;
}

.benefits__item:nth-child(4) .benefits__text {
    grid-area: 1/1;
    position: relative;
    z-index: 1;
    background-color: rgba(0,0,0, 0.2);
    width: 100%;
    height: 100%;
    color: #fff;
}
.benefits__item:nth-child(4) .video-gif{
    grid-area: 1/1;
    margin-bottom: 0;
}
.benefits__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 440px;
    height: 440px;
    margin: 0 auto;
    padding: 0 40px;
    text-align: center;
}

.benefits__text p {
    font-size: 22px;
    line-height: 140%;
}

.benefits__label {
    font-weight: 900;
    font-size: 28px;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 10px;
}

/*   reviews   */

.reviews__list {
    margin-bottom: 30px;
}

.reviews__item {
    margin-bottom: 30px;
}

.reviews__image {
    display: block;
    margin: 0 auto;
    border-radius: 20px;
}

/*   order-info   */

.order-info__list {
    padding: 0 20px;
}

.order-info__item {
    display: flex;
    align-items: center;
}

.order-info__item:not(:last-child) {
    margin-bottom: 40px;
}

.order-info__item>img {
    display: block;
    flex-shrink: 0;
}

.order-info__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
}

.order-info__title span {
    font-weight: 900;
}

.order-info__text {
    flex-grow: 1;
}

.order-info__text p {
    font-size: 20px;
    margin-top: 5px;
}

.order-info__item:nth-child(odd)>img {
    margin-right: 20px;
}

.order-info__item:nth-child(even)>img {
    order: 2;
    margin-left: 20px;
}

.order-info__item:nth-child(even) .order-info__text {
    text-align: right;
}

.order-info__photo {
    display: block;
    margin: 60px auto 0;
}

/*   form-text   */

.form-text {
    padding: 0 20px;
    margin-top: 30px;
}

.form-text__title {
    font-size: 26px;
    font-weight: 700;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
}

.form-text__title span {
    color: #e44826;
}

.form-text__image {
    display: block;
    margin: 15px auto 0;
}

/*   footer   */

.footer {
    background: #fff1e3;
    padding: 30px 0;
    border-top: 2px dashed #dba685;
}

.footer__image {
    display: block;
    margin: 0 auto 15px;
}

.footer__links {
    text-align: center;
}

.footer__links p:not(:last-child) {
    margin-bottom: 5px;
}

.footer__links a {
    font-size: 17px;
    color: #1c1c1c;
    text-decoration: none;
}