.reviews__list{
  padding-left: 5%;
  padding-right: 5%;
}
.reviews__item{
  border-radius: 20px;
  padding: 35px 20px;
  background-image: url('../images/bg-comment.jpg');
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.reviews__item::after{
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.reviews-content__client{
  background-color: #fff;
  position: relative;
  padding: 2px 5px;
  width: fit-content;
  border-radius: 10px;

}
.reviews-content__client::before{
  content:'';
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  width: 20px;
  height: 15px;
  position: absolute;
  top: 0;
  left: -13px;
  z-index: 1;
  background-color: #fff;
}
.reviews-content__item:not(:last-child){
  margin-bottom: 15px;
}
.reviews-content__item{
  width: fit-content;
  display: flex;
  gap: 10px;
  font-family: inherit;
  max-width: 90%;
  width: fit-content;
}
.reviews-content__client.reviews-content__client--img{
  display: block;
  padding: 10px;
  width: 70%;
}
.reviews-content__client.reviews-content__client--img .reviews-content__client-text{
  padding: 5px 0;
}
.reviews-content__client-img{
  width: 100%;
  display: block;
}
.reviews-content__time{
  display: block;
  text-align: right;
  align-self: flex-end;
  font-size: 12px;
  line-height: 16px;
  font-family: inherit;
  color: rgb(137, 137, 137)
}
.reviews-content__answer{
  padding: 2px 5px;
}
.reviews-content__answer-text, .reviews-content__client-text{
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  padding: 10px 0;
  color: #000;
}
.reviews-content__answer{
  background-color: #e0fec6;
  display: flex;
  gap: 10px;
  font-family: inherit;
  max-width: 90%;
  width: fit-content;
  margin-left: auto;
  position: relative;
  padding: 2px 5px;
  border-radius: 10px;
}
.reviews-content__answer::after{
  content: '';
  position: absolute;
  top: 0;
  right: -13px;
  clip-path: polygon(0 0, 0 100%, 100% 0);
  width: 20px;
  height: 15px;
  background-color: #e0fec6;
  
}
.reviews-content__client.reviews-content__client--img-only .reviews-content__time{
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #fff;
}