

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    outline: 0px none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: underline;
}

a:hover {
    cursor: pointer;
}

:-moz-placeholder {
    color: rgb(169, 169, 169);
    opacity: 1;
}

*::-moz-placeholder {
    color: rgb(169, 169, 169);
    opacity: 1;
}

* {
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
}

button, input {
    outline: medium none;
}

@font-face {
    font-family: "fregatregular";
    font-style: normal;
    font-weight: 400;
    src: url('../fregat.eot%40.html') format("embedded-opentype"), url('../fonts/fregat.woff') format("woff");
}

@font-face {
    font-family: "fregatbold";
    font-style: normal;
    font-weight: 700;
    src: url('../fregat_bold.eot%40.html') format("embedded-opentype"), url('../fonts/fregat_bold.woff') format("woff");
}

@font-face {
    font-family: "fregatbolditalic";
    font-weight: 700;
    src: url('../fregat_bold_italic.eot%40.html') format("embedded-opentype"), url('../fonts/fregat_bold_italic.woff') format("woff");
}

@font-face {
    font-family: "fregatitalic";
    font-weight: 400;
    src: url('../fregat_italic.eot%40.html') format("embedded-opentype"), url('../fonts/fregat_italic.woff') format("woff");
}

.center {
    text-align: center;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

b, strong {
    font-weight: 500;
}

html {
}

body {
    position: relative;
    width: 100%;
    min-width: 320px;
    padding: 0px;
    margin: 0px;
    font-family: "fregatregular", sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    color: rgb(51, 51, 51);
    font-weight: 400;
}

.main-wrap {
    position: relative;
    width: 480px;
    margin: 0px auto;
}

.section {
    position: relative;
    padding: 20px;
}

h2 {
    position: relative;
    display: block;
    margin: 0px auto;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2em;
    text-align: center;
    text-transform: uppercase;
    font-family: verdana;
    padding-bottom: 30px;
    color: rgb(192, 0, 101);
}

h2 > span::before, h2 > span::after {
    content: "";
    position: relative;
    display: inline-block;
    width: 42px;
    height: 2px;
    background: rgb(0, 181, 237) none repeat scroll 0% 0%;
    top: -0.3em;
    margin: 0px 15px;
}

.btn-prim {
    background: #4e8f52;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    padding: 7px 20px;
    width: 100%;
    margin: 20px 0px;
}

.button-m {
    display: block;
    position: relative;
    outline: medium none;
    width: 387px;
    height: 88px;
    cursor: pointer;
    background: #ffdc36;
    border: none;
    color: #121212;
    font-size: 34px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 30px 0px;
    text-decoration: none;

}

.button-m:active {
    top: -1px;
}

.center .button-m {
    margin: 0px auto;
}

.block-1 {
    padding: 368px 0px 0px;
    background: transparent url('../images/baosaili_mob.png') no-repeat scroll center top;
}

.block-1 .container-1 {
    padding-bottom: 40px;
}

.block-1 .container-1 > div {
    position: relative;
    float: left;
}

.cost {
    width: 190px;
    text-align: center;
}

.cost > p {
    padding-bottom: 12px;
    font-size: 20px;
    color: rgb(51, 51, 51);
}

.cost > strong {
    font-weight: 500;
    font-size: 44px;
}

.old-cost > strong {
    color: rgb(158, 158, 158);
    text-decoration: line-through;
}

.new-cost > strong {
    color: rgb(51, 51, 51);
}

.block-1 .sale {
    width: 100px;
    padding-top: 5px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.block-1 .sale > p {
    padding-bottom: 10px;
    font-weight: 500;
    text-transform: uppercase;
}

.block-1 .sale > strong {
    font-weight: 500;
    font-size: 36px;
}

.block-1 .container-2 {
    padding-bottom: 40px;
}

.block-1 .timer {
    width: 80%;
    margin: 0px auto;
    padding-bottom: 15px;
}

.block-1 .timer > p {
    padding: 20px 0px;
    text-align: center;
    font-size: 24px;
    color: rgb(51, 51, 51);
}

.attention {
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.attention::before {
    content: "";
    display: block;
    width: 44px;
    height: 44px;
    margin: 0px auto 10px;
    background: transparent url('../images/att-sign.jpg') no-repeat scroll center top;
}

.block-2, .block-4 {
    padding: 0px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    color: rgb(0, 0, 0);
}

.block-2 .container {
    padding: 0px 20px;
}

.garanty{
    padding: 20px;
}

.owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    background: #a72544;
}

.bomba{
padding: 20px;
}

.block-2 p {
    padding-bottom: 20px;
}

.block-2 img {
    margin-bottom: 20px;
}

.block-2 tr:nth-child(2n) {
    background-color: rgb(241, 241, 241);
}

.block-3 .container ul li::before {
    content: "•";
    position: absolute;
    left: 0px;
    color: rgb(60, 199, 220);
    font-size: 22px;
}

.block-7 {
    padding: 0px 20px;
    overflow: hidden;
}

.block-7 h2 {
    font-size: 30px;
}

.block-7 .container {
    padding: 0px;
}

.block-7 .rev {
    position: relative;
    padding-bottom: 40px;
}

.block-7 .rev-title {
    font-size: 22px;
    font-weight: 500;
    padding: 0px 0px 5px;
}

.block-7 .rev-text {
    text-align: left;
    margin-left: 135px;
}

.block-6 {
    padding-top: 40px;
    background: #c30080;
}

.block-6 .deliv-item {
    text-align: center;
    font-size: 20px;
    padding: 30px 0px;
    border-bottom: 1px dashed rgb(204, 204, 204);
}

.block-6 .deliv-item:last-child {
    border-bottom: 0px none;
}

.block-6 .deliv-item p {
    padding-top: 10px;
}

.block-6 .deliv-item .deliv-icon {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
}

.block-6 .deliv-item .deliv-pic-1 {
    background: url('../images/how-order-img-1.png') no-repeat center top;
}

.block-6 .deliv-item .deliv-pic-2 {
    background: url('../images/how-order-img-2.png') no-repeat center top;
}

.block-6 .deliv-item .deliv-pic-3 {
    background: url('../images/how-order-img-3.png') no-repeat center top;
}

.block-6 .deliv-item .deliv-pic-4 {
    background: url('../images/how-order-img-4.png') no-repeat center top;
}

.block-1 .order {
    padding-top: 20px;
}

.block-1 .order > p.center {
    font-weight: 500;
}

.block-1 .order > p.center strong {
    text-transform: uppercase;
    font-size: 22px;
}

.block-1 form {
    position: relative;
    width: 388px;
    margin: 0px auto;
    padding-top: 30px;
}

.block-1 form > div {
    padding-bottom: 15px;
}

.block-1 form input, .block-1 form button {
    border: 0px none;
    outline: 0px none;
    background: transparent none repeat scroll 0% 0%;
    padding: 0px;
    margin: 0px;
}

.block-1 form input {
    width: 388px;
    height: 80px;
    border: 3px solid rgb(244, 223, 42);
    line-height: 80px;
    text-indent: 40px;
    border-radius: 15px;
    font-size: 20px;
}

.block-1 form input:focus {
    border-color: rgb(153, 153, 153);
}

.block-1 form button {
    display: block;
    position: relative;
    width: 387px;
    height: 88px;
    background: transparent url('../images/button.jpg') no-repeat scroll center top;
    cursor: pointer;
}

.block-1 form button:focus {
    top: -1px;
}

.white-btn {
    background: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 25px;
    text-decoration: none;
    color: black;
    margin-bottom: 20px;
    padding: 10px 40px;
    margin-bottom: 30px;
}

.footer {
    font-size: 16px;
    background: rgb(238, 238, 238) none repeat scroll 0% 0%;
    line-height: 1.3em;
}

.rev img {
    float: left;
    width: 120px;
    margin-right: 15px;
    padding: 15px;
    border-right: 2px solid rgb(192, 0, 101);
    border-radius: 50%;
}



.slick-track::before, .slick-track::after {
    display: table;
    content: "";
}

.slick-track::after {
    clear: both;
}

@font-face {
    font-family: "slick";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/slick.eot') format("embedded-opentype"), url('../fonts/slick.woff') format("woff"), url('../slick.sql') format("truetype"), url('../fonts/slick.svg') format("svg");
}

.slick-prev:hover::before, .slick-prev:focus::before, .slick-next:hover::before, .slick-next:focus::before {
    opacity: 1;
}

.slick-prev.slick-disabled::before, .slick-next.slick-disabled::before {
    opacity: 0.25;
}

.slick-prev::before, .slick-next::before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    opacity: 0.75;
    color: white;
}

.slick-prev::before {
    content: "←";
}

[dir="rtl"] .slick-prev::before {
    content: "→";
}

.slick-next::before {
    content: "→";
}

[dir="rtl"] .slick-next::before {
    content: "←";
}

.slick-dots li button:hover::before, .slick-dots li button:focus::before {
    opacity: 1;
}

.slick-dots li button::before {
    font-family: "slick";
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    content: "•";
    text-align: center;
    opacity: 0.25;
    color: black;
}

.slick-dots li.slick-active button::before {
    opacity: 0.75;
    color: black;
}



@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url('../fonts/ek4gzz-gexapcsbhtceqi_eszw2xoq-xsnqo47m55da.woff2') format("woff2");
    unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url('../fonts/mervlbyg_cxg3rlvuskt_feszw2xoq-xsnqo47m55da.woff2') format("woff2");
    unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url('../fonts/-2n2p-_y08sg57cnwqfknveszw2xoq-xsnqo47m55da.woff2') format("woff2");
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url('../fonts/u0topm082mnks5k0q4rhqveszw2xoq-xsnqo47m55da.woff2') format("woff2");
    unicode-range: U+370-3FF;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url('../fonts/ndf9mtnoplzo-nomog0mipeszw2xoq-xsnqo47m55da.woff2') format("woff2");
    unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url('../fonts/fcx7wwv8ozt71a3e1xoajveszw2xoq-xsnqo47m55da.woff2') format("woff2");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url('../fonts/cwb0xya8bzo0ksthx0utua.woff2') format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Medium"), local("Roboto-Medium"), url('../fonts/zlqkeelybatg60epzbsdyxjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
    unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Medium"), local("Roboto-Medium"), url('../fonts/ohi30kwqwvpcwqahzhccsbjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
    unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Medium"), local("Roboto-Medium"), url('../fonts/rgvhdjnr2l75qb0ynd9nybjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Medium"), local("Roboto-Medium"), url('../fonts/mx9uck6ub63vikfynemxrrjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
    unicode-range: U+370-3FF;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Medium"), local("Roboto-Medium"), url('../fonts/mbmhprmh69zi6eepbyvfhrjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
    unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Medium"), local("Roboto-Medium"), url('../fonts/ooefwznlrtefzlymlvv1ubjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Medium"), local("Roboto-Medium"), url('../fonts/rxzjdnzeo3r5zsexge8uuvtxra8tvwticgirnjhmvjw.woff2') format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), local("Roboto-Bold"), url('../fonts/77fxfjrbgzn4acrsfhlh3hjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
    unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), local("Roboto-Bold"), url('../fonts/isz-wbcxnkabnjo6_twhthjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
    unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), local("Roboto-Bold"), url('../fonts/ux6i4jxqdm3fvtc1cpuwqhjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), local("Roboto-Bold"), url('../fonts/jsn2cgvdbcvycnfjfjsdfbjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
    unicode-range: U+370-3FF;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), local("Roboto-Bold"), url('../fonts/pwzc-ybil414wb9rb1iaprjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
    unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), local("Roboto-Bold"), url('../fonts/97uahxiqzroncbacei3awxjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), local("Roboto-Bold"), url('../fonts/d-6iyplofoccackzxwxsoftxra8tvwticgirnjhmvjw.woff2') format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}



@font-face {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 400;
    src: local("Comfortaa Regular"), local("Comfortaa-Regular"), url('../fonts/be0ckotwwi2n86hmhtablrjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
    unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 400;
    src: local("Comfortaa Regular"), local("Comfortaa-Regular"), url('../fonts/-dackuifgo7hfy3rr14c3xjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
    unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 400;
    src: local("Comfortaa Regular"), local("Comfortaa-Regular"), url('../fonts/ugyuhlckruocj8oznvelzxjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
    unicode-range: U+370-3FF;
}

@font-face {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 400;
    src: local("Comfortaa Regular"), local("Comfortaa-Regular"), url('../fonts/ao3nchuphgdvgp2utibjorjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
    unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 400;
    src: local("Comfortaa Regular"), local("Comfortaa-Regular"), url('../fonts/wz1gqe57mbg11v-orllvjhjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 400;
    src: local("Comfortaa Regular"), local("Comfortaa-Regular"), url('../fonts/qlbu5cqmsmt1h43oiwj77vtxra8tvwticgirnjhmvjw.woff2') format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

.ymaps-b-form-button__input::-moz-focus-inner {
    padding: 0px;
    border: 0px none;
}

@media not all, not all {
}

@media not all {
}



@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    src: local("Roboto Thin"), local("Roboto-Thin"), url('../fonts/robotothin_1.woff2') format("woff2"), url('../fonts/robotothin_1.woff') format("woff"), url('../fonts/robotothin_1.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 100;
    src: local("Roboto Thin Italic"), local("Roboto-ThinItalic"), url('../fonts/robotothinitalic_1.woff2') format("woff2"), url('../fonts/robotothinitalic_1.woff') format("woff"), url('../fonts/robotothinitalic_1.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Light"), local("Roboto-Light"), url('../fonts/robotolight_1.woff2') format("woff2"), url('../fonts/robotolight_1.woff') format("woff"), url('../fonts/robotolight_1.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 300;
    src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url('../fonts/robotolightitalic_1.woff2') format("woff2"), url('../fonts/robotolightitalic_1.woff') format("woff"), url('../fonts/robotolightitalic_1.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url('../fonts/roboto_1.woff2') format("woff2"), url('../fonts/roboto_1.woff') format("woff"), url('../fonts/roboto_1.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 400;
    src: local("Roboto Italic"), local("Roboto-Italic"), url('../fonts/robotoitalic_1.woff2') format("woff2"), url('../fonts/robotoitalic_1.woff') format("woff"), url('../fonts/robotoitalic_1.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Medium"), local("Roboto-Medium"), url('../fonts/robotomedium_1.woff2') format("woff2"), url('../fonts/robotomedium_1.woff') format("woff"), url('../fonts/robotomedium_1.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 500;
    src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url('../fonts/robotomediumitalic_1.woff2') format("woff2"), url('../fonts/robotomediumitalic_1.woff') format("woff"), url('../fonts/robotomediumitalic_1.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), local("Roboto-Bold"), url('../fonts/robotobold_1.woff2') format("woff2"), url('../fonts/robotobold_1.woff') format("woff"), url('../fonts/robotobold_1.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 700;
    src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url('../fonts/robotobolditalic_1.woff2') format("woff2"), url('../fonts/robotobolditalic_1.woff') format("woff"), url('../fonts/robotobolditalic_1.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    src: local("Roboto Black"), local("Roboto-Black"), url('../fonts/robotoblack_1.woff2') format("woff2"), url('../fonts/robotoblack_1.woff') format("woff"), url('../fonts/robotoblack_1.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 900;
    src: local("Roboto Black Italic"), local("Roboto-BlackItalic"), url('../fonts/robotoblackitalic_1.woff2') format("woff2"), url('../fonts/robotoblackitalic_1.woff') format("woff"), url('../fonts/robotoblackitalic_1.ttf') format("truetype");
}
.yellow-block .title{
    color: #000000;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    margin: 8px 0px;
}

.yellow-block .content{
    color: #000000;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 300;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
.plus{
    padding: 30px 15px;
}
.plus .title{
    color: #ffdc36;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    margin-bottom: 22px;
    margin: 15px 0px;
}
.plus .content{
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
}
