/* reset */

html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code, 
del, dfn, em, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, 
b, u, i, center, 
dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, 
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, 
q:before, q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, input, button {
	outline: none;
}

a {
	background-color: transparent;
	text-decoration: underline;
	-webkit-text-decoration-skip: objects;
}

input, button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

/* fonts */

@font-face {
    font-family: 'Magnolia Script';
    src: url('../font-15.woff2.html') format('woff2'),
		 url('../fonts/font-15.woff') format('woff'),
		 url('../img-0.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

/* styles */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-moz-text-size-adjust: none;
	text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #222;
	cursor: default;
}

.main_wrapper {
	margin: 0 auto;
	max-width: 480px;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

img {
	max-width: 100%;
	height: auto;
}

/* bold */

b {
	font-weight: 700;
}

/* button */

.button {
	display: block;
	margin: 20px auto;
	width: 95%;
	height: 80px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background-color: #c39;
	background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(245, 87, 108, 0.71)), to(rgba(240, 147, 251, 0.71)));
	background-image: -webkit-linear-gradient(bottom, rgba(245, 87, 108, 0.71) 0%, rgba(240, 147, 251, 0.71) 100%);
	background-image: -moz-linear-gradient(bottom, rgba(245, 87, 108, 0.71) 0%, rgba(240, 147, 251, 0.71) 100%);
	background-image: -o-linear-gradient(bottom, rgba(245, 87, 108, 0.71) 0%, rgba(240, 147, 251, 0.71) 100%);
	background-image: linear-gradient(to top, rgba(245, 87, 108, 0.71) 0%, rgba(240, 147, 251, 0.71) 100%);
	-webkit-box-shadow: 0 8px 0 #de3f67;
	-moz-box-shadow: 0 8px 0 #de3f67;
	box-shadow: 0 8px 0 #de3f67;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 80px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
}

/* titles */

h2 {
	font-family: 'Magnolia Script', serif;
	font-size: 40px;
	line-height: 46px;
	text-align: center;
}

/* offer */

.offer_section .title_block {
	padding: 15px 0;
	background: #fff;
	position: relative;
}

.offer_section .title_block:before {
	display: block;
	content: '';
	width: 100%;
	height: 11px;
	background: url(../images/img-1.png) center top repeat-x;
	position: absolute;
	left: 0;
	bottom: -10px;
}

.offer_section .title_block .main_title {
	font-family: 'Magnolia Script', serif;
	font-size: 48px;
	line-height: 54px;
	color: #ee5f94;
	text-align: center;
}

.offer_section .title_block p {
	margin-top: -5px;
	font-size: 22px;
	line-height: 28px;
	text-align: center;
}

.offer_section.offer_top .price_block {
	position: relative;
	height: 428px;
	background:#E8E7EF url(../images/img-2.jpg) center top no-repeat;
	background-size: cover;
}

.offer_section.offer_bottom .price_block {
	position: relative;
	height: 428px;
	background:#E8E7EF url(../images/img-3.jpg) center top no-repeat;
	background-size: cover;
}

.offer_section .price_item {
	margin: 0 0 10px 0;
	padding: 8px 0 12px 25px;
	width: 180px;
	-webkit-border-radius: 25px 0 0 25px;
	-moz-border-radius: 25px 0 0 25px;
	border-radius: 25px 0 0 25px;
	background: #fff;
	position: absolute;
	right: 0;
}
.offer_section .price_item.new{
	bottom: 30px;
}
.offer_section .price_item.old{
	bottom: 120px;
}

.offer_section .price_item.new {
	background: #ee5f94;
	color: #fff;
}

.offer_section .price_item .value {
	font-size: 30px;
	line-height: 30px;
}

.offer_section .price_item.old .value {
	text-decoration: line-through;
}

.offer_section .price_item.new .value {
	font-weight: 700;
}

.offer_section.offer_top .button {
	/* margin-top: -44px; */
}

.offer_section .order_form {
	padding: 25px 0 38px 0;
	background: #262626;
	text-align: center;
}
.offer_section .order_form label {
	color: #fff;
}
.offer_section .order_form .deadline_text {
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	color: #ee5f94;
	text-transform: uppercase;
	text-align: center;
}

.offer_section .timer_block {
	margin: 5px auto 25px auto;
	color: #fff;
	text-align: center;
	width: fit-content;
}
.timer{
	margin: 0 auto;
	width: fit-content;
}
.offer_section .timer_block p {
	margin: 0 0 10px 0;
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
}

.offer_section .timer_block .timer_item {
	float: left;
	width: 100px;
}

.offer_section .timer_block .timer_item:nth-child(2) {
	margin: 0 20px;
	position: relative;
}

.offer_section .timer_block .timer_item:nth-child(2):before, 
.offer_section .timer_block .timer_item:nth-child(2):after {
	display: block;
	content: ':';
	width: 20px;
	font-weight: 700;
	font-size: 30px;
	line-height: 58px;
	position: absolute;
	top: 0;
}

.offer_section .timer_block .timer_item:nth-child(2):before {
	left: -20px;
}

.offer_section .timer_block .timer_item:nth-child(2):after {
	right: -20px;
}

.offer_section .timer_block .count {
	margin: 0 0 5px 0;
	height: 64px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #ee5f94;
	font-weight: 700;
	font-size: 50px;
	line-height: 62px;
	text-shadow: 1px 1px 0 #bf2e52;
}

.offer_section .input {
	display: block;
	margin: 0 auto 20px auto;
	padding: 0 20px;
	width: 95%;
	height: 70px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #222;
	text-align: center;
}

.offer_section .input::-webkit-input-placeholder {
	opacity: 1;
	color: #222;
	font-size: 16px;
}

.offer_section .input:-moz-placeholder {
	opacity: 1;
	color: #222;
	font-size: 16px;
}

.offer_section .input::-moz-placeholder {
	opacity: 1;
	color: #222;
	font-size: 16px;
}

.offer_section .input:-ms-input-placeholder {
	opacity: 1;
	color: #222;
	font-size: 16px;
}

.offer_section .input:focus::-webkit-input-placeholder {
	opacity: 0;
}
font-size: 16px;

.offer_section .input:focus:-moz-placeholder {
	opacity: 0;
}
font-size: 16px;

.offer_section .input:focus::-moz-placeholder {
	opacity: 0;
}
font-size: 16px;

.offer_section .input:focus:-ms-input-placeholder {
	opacity: 0;
}
font-size: 16px;

/* video */

.video_section {
	padding: 28px 20px 30px 20px;
}

.video_section h2 {
	margin: 0 0 20px 0;
}

.video_section .video_block {
	border: 8px solid #fff;
	-webkit-box-shadow: 0 1px 6px #d7d7d7;
	-moz-box-shadow: 0 1px 6px #d7d7d7;
	box-shadow: 0 1px 6px #d7d7d7;
}

.video_section .video-container {
	margin: 0 auto;
	width: 424px;
	height: 239px;
	background: #000;
	overflow: hidden;
	position: relative;
}

.video_section .video-container iframe, 
.video_section .video-container object, 
.video_section .video-container embed {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

/* action */

.action_section {
	padding: 20px 0 0 0;
	background: #ee5f94;
	color: #fff;
}

.action_section h2 {
	margin: 0 0 20px 0;
}

.action_section img {
	display: block;
	width: 100%;
}

.action_section p {
	padding: 10px 20px 15px 20px;
	font-size: 24px;
	line-height: 30px;
	text-align: center;
}

/* about */

.about_section {
	padding: 20px 20px 25px 20px;
	background: #262626;
	position: relative;
}

.about_section:before {
	display: block;
	content: '';
	width: 100%;
	height: 11px;
	background: url(../images/img-7.png) center top repeat-x;
	position: absolute;
	left: 0;
	bottom: 0;
}

.about_section h2 {
	margin: 0 0 20px 0;
	color: #ee5f94;
}

.about_section p {
	margin: 0 0 15px 0;
	font-size: 16px;
	color: #fff;
	text-align: center;
}

/* benefits */

.benefits_section {
	padding: 20px 20px 0 20px;
}

.benefits_section h2 {
	margin: 0 0 20px 0;
}

.benefits_section .benefits_list {
	font-size: 0;
	line-height: 0;
	letter-spacing: -1px;
	text-align: center;
}

.benefits_section .benefit_item {
	display: inline-block;
	vertical-align: top;
	margin: 0 20px 30px 0;
	width: 210px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: normal;
}

.benefits_section .benefit_item:nth-child(even) {
	margin: 0 0 30px 0;
}

.benefits_section .benefit_item img {
	display: block;
	margin: 0 auto 15px auto;
}

/* stars */

.stars_section {
	padding: 20px 20px 30px 20px;
	background: #ee5f94;
}

.stars_section h2 {
	margin: 0 0 20px 0;
	color: #fff;
}

.stars_section .star_item {
	margin: 0 0 20px 0;
	border: 10px solid #fff;
	background: #000;
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.22), inset 0 3px 7px rgba(0, 0, 0, 0.32);
	-moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.22), inset 0 3px 7px rgba(0, 0, 0, 0.32);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.22), inset 0 3px 7px rgba(0, 0, 0, 0.32);
	position: relative;
}

.stars_section .star_item:last-child {
	margin: 0;
}

.stars_section .star_item img {
	display: block;
}

.stars_section .star_item p {
	padding: 12px 12px 8px 12px;
	background: #fff;
	font-weight: 700;
	font-size: 24px;
	position: absolute;
	right: 0;
	bottom: 0;
}

.stars_section .star_item:nth-child(even) p {
	right: auto;
	left: 0;
}

/* info */

.info_section .info {
	padding: 20px;
	height: 465px;
	background: #d2d2d2 url(../images/img-5.jpg) center top no-repeat;
}

.info_section h2 {
	margin: 0 0 20px 0;
	text-align: right;
}

.info_section h2 span {
	color: #ee5f94;
	white-space: nowrap;
	font-size: 20px;
}

.info_section p {
	margin: 0 0 0 220px;
	text-align: center;
}

.info_section .products_count {
	margin: 12px 0 20px 220px;
	text-align: center;
}

.info_section .products_count span {
	padding: 2px 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #fff;
	font-weight: 700;
}

.info_section .price_item {
	margin: 0 0 10px 240px;
	padding: 8px 0 12px 0;
	width: 180px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	background: #fff;
	text-align: center;
}

.info_section .price_item.new {
	background: #ee5f94;
	color: #fff;
}

.info_section .price_item .value {
	font-size: 30px;
	line-height: 30px;
}

.info_section .price_item.old .value {
	text-decoration: line-through;
}

.info_section .price_item.new .value {
	font-weight: 700;
}

.info_section .button {
	/* margin-top: -44px; */
}

/* reviews */

.reviews_section {
	padding: 28px 0 0 0;
}

.reviews_section h2 {
	margin: 0 0 20px 0;
}

.reviews_section .owl-prev, 
.reviews_section .owl-next {
	width: 40px;
	height: 75px;
	background-color: #ee5f94;
	background-image: url(../images/img-6.png);
	background-repeat: no-repeat;
	position: absolute;
	top: 166px;
}

.reviews_section .owl-prev {
	background-position: left center;
	left: 0;
}

.reviews_section .owl-next {
	background-position: right center;
	right: 0;
}

/* use */

.use_section {
	padding: 20px 20px 25px 20px;
	background: #262626;
	position: relative;
}

.use_section:before {
	display: block;
	content: '';
	width: 100%;
	height: 11px;
	background: url(../images/img-7.png) center top repeat-x;
	position: absolute;
	left: 0;
	bottom: 0;
}

.use_section h2 {
	margin: 0 0 20px 0;
	color: #ee5f94;
}

.use_section p {
	margin: 0 0 15px 0;
	font-size: 16px;
	color: #fff;
	text-align: center;
}

/* press */

.press_section {
	padding: 20px 20px 30px 20px;
	background: url(../images/img-8.jpg) left 80px no-repeat;
}

.press_section h2 {
	margin: 0 0 25px 0;
}

.press_section .press_list {
	margin: 0 0 0 220px;
	font-size: 16px;
}

.press_section .press_item {
	margin: 0 0 20px 0;
}

.press_section .press_item:last-child {
	margin: 0;
}

.press_section .press_item h3 {
	font-weight: 700;
}

/* order steps */

.order_steps_section {
	padding: 20px 20px 0 20px;
	background: #f2f2f2;
}

.order_steps_section h2 {
	margin: 0 0 20px 0;
}

.order_steps_section .steps_list {
	font-size: 0;
	line-height: 0;
	letter-spacing: -1px;
	text-align: center;
}

.order_steps_section .step_item {
	display: inline-block;
	vertical-align: top;
	margin: 0 20px 30px 0;
	width: 210px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: normal;
}

.order_steps_section .step_item:nth-child(even) {
	margin: 0 0 30px 0;
}

.order_steps_section .step_item img {
	display: block;
	margin: 0 auto 15px auto;
}

/* footer */

.footer_section {
	padding: 25px 0 22px 0;
	font-size: 14px;
	text-align: center;
}

.footer_section img {
	display: block;
	margin: 0 auto 10px auto;
}

.footer_section a {
	color: #222;
}
.callback-btn {
    z-index: 1000;
    position: fixed;
    right: -8px;
    top: 130px;
    width: 75px;
    height: 63px;
    background: linear-gradient(#e677dd, #e94f7e);
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-right: none;
    padding-top: 10px;
    padding-left: 10px;
    transition: right 100ms;
    cursor: pointer;
}

.callback-btn img {
    width: 65%;
}

.callback-form {
    max-width: 350px;
    width: 100%;
    z-index: 1001;
    position: fixed;
    right: 0;
    top: 50px;
    background: #c1c1c3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-top: 15px;
    transition: right 500ms ease-in-out;
}

.callback-form.hide {
    right: -1000px;
}

.callback-form form {
    width: 90%;
    margin: auto;
    color: #131b32
    padding-bottom: 20px;
}

.callback-form form h5 {
    float: left;
    margin: 10px auto 1px;
    margin-left: 0;
    font-family: "Arial", sans-serif;
    color: white;
}

.callback-form form input {
    width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 4px;
    height: 40px;
    color: #131b32;
    text-align: left;
    font-size: 20px;
    padding-left: 10px;
    background-color: #fff;
    border: 1px solid #000;

}


.callback-form .orange-btn {
    padding: 10px 5%;
    width: 85%;
    left: 2%;
    background: linear-gradient(#e677dd, #e94f7e);
    border-radius: 50px;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin-left: 15px;
    border: none;
    cursor: pointer;
    color: #fff;
}

.callback-form img[src="img/i-cross.svg"] {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
}
@media (max-width:480px) {
	.offer_section.offer_top .price_block,
	.offer_section.offer_bottom .price_block,
	.info_section .info{
		background-position: left top;
	}
	.info_section .info{
		display: flex;
		flex-direction: column;
	}
	.price_block{
		display: flex;
		align-items: center;
		justify-content: space-around;
		gap: 10px;
		margin-top: auto;
	}
	.info_section .price_item{
		margin: 0;
	}
	.info_section h2 {
		margin: 0 0 20px 0;
			margin-top: 0px;
		text-align: right;
		line-height: 40px;
		margin-top: -8px;
}
}
@media (max-width:390px) {
	.info_section .info{
		background-position: -20px 0;
	}
	.info_section p{
		margin-left: 190px;
	}
	.info_section .products_count{
		margin-left: 194px;
	}
	.text{
		font-size: 16px;
	}
	.info_section h2 span{
		font-size: 18px;
	}
}