/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/


.c-bar::after,
.c-bar::before,
.c-post-info::after,
.c-post-info::before,
.c-switcher-box::after,
.c-switcher-box::before,
.navbar>.c-switcher-box::after,
.navbar>.c-switcher-box::before,
.o-jumbotron::after,
.o-jumbotron::before {
  content: "";
  display: table;
}


.c-bar::after,
.c-post-info::after,
.c-switcher-box::after,
.navbar>.c-switcher-box::after,
.o-jumbotron::after {
  clear: both;
}


.c-post-stats,
.c-social-list {
  padding-left: 0px;
  list-style: outside none none;
}

.i-ii {}

@media not all,
(-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
  .i-ii {
    background-size: 87px 82px;
  }
}

.i-view-light {
  background-position: -35px -44px;
  width: 18px;
  height: 11px;
}

.i-ii {
  display: block;
}

@media (min-width: 1366px) {}

@-webkit-keyframes lg-right-end {

  0%,
  100% {
    left: 0px;
  }

  50% {
    left: -30px;
  }
}

@keyframes lg-right-end {

  0%,
  100% {
    left: 0px;
  }

  50% {
    left: -30px;
  }
}

@-webkit-keyframes lg-left-end {

  0%,
  100% {
    left: 0px;
  }

  50% {
    left: 30px;
  }
}

@keyframes lg-left-end {

  0%,
  100% {
    left: 0px;
  }

  50% {
    left: 30px;
  }
}

@media (min-width: 1025px) {}

@media (min-width: 1280px) {}

@media (min-width: 1366px) {}

@media (min-width: 1024px) {}

@media (min-width: 1366px) {}

@media (max-width: 1599px) {}

@media (max-width: 1279px) {}

@media (max-width: 1023px) {

  .h1,
  h1 {
    font-size: 27px;
  }

  .h2,
  h2 {
    font-size: 22px;
  }

  .h3,
  h3 {
    font-size: 18px;
  }
}

@media (min-width: 793px) {}

@media (min-width: 1280px) {}

@media (max-width: 1023px) {}

.dropdown {
  fill: rgb(0, 0, 0);
}

.nav>li>a {
  color: rgb(0, 0, 0);
}

@media (max-width: 1023px) {

  .nav {
    font-size: 12px;
  }
}

@media (max-width: 1279px) {}

@media (max-width: 1023px) {}

@media (min-width: 1280px) {}

@media (min-width: 1024px) and (max-width: 1279px) {}

@media (max-width: 1023px) {}

.text-hide {
  position: absolute;
  margin: 0px;
}


body {
  margin-left: auto;
  margin-right: auto;
}

a,
button {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  outline: 0px none ! important;
}

*::-moz-selection {
  background-color: rgb(198, 243, 254);
}

.h1,
.h2,
h1,
h2 {
  margin-top: 33px;
  margin-bottom: 22px;
}

@media (min-width: 1280px) {

  .h1,
  .h2,
  h1,
  h2 {
    margin-top: 44px;
    margin-bottom: 33px;
  }
}


p,
ul {
  margin-bottom: 22px;
}



.o-wrap {
  padding-left: 54px;
  padding-right: 54px;
}

@media (max-width: 1365px) {


  .o-wrap {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.c-main {
  padding: 0px 10px;
}


@media (max-width: 1023px) {

  .c-main .c-bar .c-social-list {
    padding: 0px 10px;
  }
}

.c-switcher-box {
  display: none;
}


.c-entry-inverse .c-social-list .i-svg {
  fill: rgb(255, 255, 255);
}

.c-social-list {
  text-align: center;
}

.c-social-list>li {
  display: inline-block;
}

.c-social-list>li>div {
  display: block;
  text-decoration: none;
}

.c-social-list>li>div .i-svg {
  -webkit-transition: fill 0.3s ease 0s;
  -o-transition: fill 0.3s ease 0s;
  transition: fill 0.3s ease 0s;
}

.c-social-list>li>div:active .i-fb,
.c-social-list>li>div:focus .i-fb,
.c-social-list>li>div:hover .i-fb {
  fill: rgb(73, 98, 154) ! important;
}

.c-social-list>li>div:active .i-tw,
.c-social-list>li>div:focus .i-tw,
.c-social-list>li>div:hover .i-tw {
  fill: rgb(3, 169, 244) ! important;
}

.c-social-list>li>div:active .i-vb,
.c-social-list>li>div:focus .i-vb,
.c-social-list>li>div:hover .i-vb {
  fill: rgb(102, 92, 172) ! important;
}

.c-social-list>li>div:active .i-tlg,
.c-social-list>li>div:focus .i-tlg,
.c-social-list>li>div:hover .i-tlg {
  fill: rgb(74, 144, 226) ! important;
}

.c-social-list>li>div:active .i-msgr,
.c-social-list>li>div:focus .i-msgr,
.c-social-list>li>div:hover .i-msgr {
  fill: rgb(0, 132, 255) ! important;
}

.c-main .c-bar .c-social-list {
  background: rgb(0, 0, 0) none repeat scroll 0% 0%;
}

@media (max-width: 1279px) {

  .c-main .c-bar .c-social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 100%;
    white-space: nowrap;
    -webkit-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
    opacity: 0;
    pointer-events: none;
  }
}

@media (max-width: 1023px) {}

@media (min-width: 1280px) {

  .c-main .c-bar .c-social-list {
    display: block;
  }
}

@media (min-width: 1280px) {}

.o-jumbotron {
  padding: 10px 40px;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  font-size: 14px;
}

.o-jumbotron .o-jumbotron {
  margin-bottom: 0px;
}

.o-jumbotron p {
  margin-bottom: 11px;
}

/*.c-main .o-jumbotron, .s-main .o-jumbotron { margin-right: 0px; padding-right: 32px; }*/
@media (max-width: 1279px) {
  .o-jumbotron {
    padding-top: 7px;
  }

  .c-main .o-jumbotron {
    margin-right: 0px;
  }
}

@media (min-width: 1366px) {
  /*.o-jumbotron { margin-left: -54px; margin-right: -0px; padding-left: 54px; padding-right: 54px; }*/
}

@media (max-width: 1023px) {}



.p-name.c-post-title.u-uppercase.js-si-title {
  width: 100%;
}





@media (min-width: 1280px) {}

@media (min-width: 1600px) {}

@media (max-width: 1023px) {}

.c-entry {
  display: block;
  position: relative;
  margin-bottom: 20px;
}

.c-entry-inverse {
  color: rgb(255, 255, 255);
}

@media (max-width: 1279px) {}

.c-post-img-wrap {
  position: relative;
  display: block;
  background: rgb(245, 245, 245) none repeat scroll 0% 0%;
}

.o-jumbotron .c-post-img-wrap {
  background: rgb(0, 0, 0) none repeat scroll 0% 0%;
}

.c-post-img-wrap img {
  width: 100%;
  height: auto;
  color: rgb(245, 245, 245);
}

a.c-post-img-wrap {
  position: relative;
}

a.c-post-img-wrap::before {
  content: "";
  display: block;
  background-color: transparent;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.c-entry:focus a.c-post-img-wrap::before,
.c-entry:hover a.c-post-img-wrap::before {
  background-color: rgba(0, 0, 0, 0.6);
}

.has-pseudo-bg {
  display: block;
  position: relative;
}

.has-pseudo-bg::after {
  content: "";
  position: absolute;
  top: 0px;
  bottom: -1px;
  left: 0px;
  right: 0px;
}

.has-pseudo-bg::after,
a.has-pseudo-bg::after {
  background-color: rgba(0, 0, 0, 0.4);
}

.c-entry-lg .has-pseudo-bg::after {
  background: transparent -webkit-gradient(linear, left top, left bottom, color-stop(30%, transparent), color-stop(65%, rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.85))) repeat scroll 0px 0px;
  background: transparent -o-linear-gradient(transparent 30%, rgba(0, 0, 0, 0.15) 65%, rgba(0, 0, 0, 0.85) 100%) repeat scroll 0px 0px;
  background: transparent linear-gradient(transparent 30%, rgba(0, 0, 0, 0.15) 65%, rgba(0, 0, 0, 0.85) 100%) repeat scroll 0px 0px;
}


@media (min-width: 1280px) {
  .c-post-img.u-blur {
    min-height: 375px;
  }
}

.c-post-meta {
  background-color: rgb(255, 255, 255);
}

@media (min-width: 1280px) {}

@media (min-width: 1600px) {}

.c-entry-lg .c-post-meta {
  position: absolute;
  padding: 10px 0px 26px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

@media (max-width: 1023px) {
  .c-post-img.u-blur {}

  .c-entry-lg .c-post-meta {
    padding: 8px 0px 20px;
  }
}

.o-jumbotron.c-entry-lg .c-post-meta {
  left: 0px;
  right: 0px;
  pointer-events: none;
  padding-left: 54px;
  padding-right: 54px;
}

.o-jumbotron.c-entry-lg .c-post-meta .c-bar,
.o-jumbotron.c-entry-lg .c-post-meta .c-post-title {
  pointer-events: all;
}

.c-entry-inverse .c-post-meta {
  background-color: transparent;
}

.c-entry-lg .c-post-meta {
  padding-bottom: 20px ! important;
}

@media (max-width: 1365px) {
  .o-jumbotron.c-entry-lg .c-post-meta {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 1023px) {
  .c-entry-lg .c-post-meta {
    padding-bottom: 15px ! important;
  }
}


.c-post-img-sleaze {
  display: block;
  width: auto;
  height: auto;
  max-width: 190px;
  max-height: 126px;
  margin-bottom: 11px;
  padding: 3px;
  border: 2px solid rgb(255, 255, 255);
}

@media (min-width: 1280px) {
  .c-post-img-sleaze {
    max-width: 300px;
    max-height: 199px;
    margin-bottom: 22px;
  }
}

@media (min-width: 1600px) {
  .c-post-img-sleaze {
    max-width: 342px;
    max-height: 227px;
  }
}

.c-post-title {
  font-size: 16px;
  font-weight: 700;
}

.c-post-title.u-uppercase {
  letter-spacing: 1px;
}

.c-post-meta .c-post-title,
.o-jumbotron .c-post-title {
  margin: 0px;
}

.c-post-title,
.c-post-title>* {
  color: inherit;
}

.c-post-title>* {
  pointer-events: all;
}

.c-post-title a {
  display: block;
  max-width: 100%;
  text-decoration: none;
}

.c-post-title div:focus,
.c-post-title div:hover {
  color: inherit;
}

.c-entry-inverse .c-post-title {
  font-weight: 300;
}

.c-entry-lg .c-post-title {
  font-size: 28px;
  line-height: 32px;
  font-weight: 900;
}


@media (max-width: 1023px) {
  .c-post-img-sleaze {
    max-width: 142px;
    max-height: 94px;
    padding: 2px;
  }

  .c-post-title {
    font-size: 12px;
  }

  .c-entry-lg .c-post-title {
    font-size: 21px;
    line-height: 24px;
  }
}

@media (min-width: 1366px) {
  .c-post-title {
    font-size: 20px;
  }
}

@media (min-width: 1600px) {
  .c-post-title {
    font-size: 22px;
  }
}

@media (max-width: 1023px) {}

.c-post-tag {
  display: inline-block;
  font-size: 12px;
}

.c-post-tag:not(:last-child) {
  margin-right: 8px;
}

.c-bar .c-post-tag {
  padding-top: 1px;
}

.c-entry-lg .c-bar .c-post-tag {
  padding-top: 0px;
}

@media (min-width: 1280px) {
  .c-bar .c-post-tag {
    font-size: 15px;
    line-height: 22px;
  }
}

@media (max-width: 1023px) {
  .c-post-tag {
    font-size: 10px;
  }

  .c-post-tag:not(:last-child) {
    margin-right: 6px;
  }

  .c-entry-lg .c-post-tag {
    font-size: 12px;
  }
}

.c-post-tag {
  color: rgb(102, 102, 102);
  font-weight: 700;
}

a.c-post-tag:focus,
a.c-post-tag:hover {
  color: rgb(0, 0, 0);
}

.c-entry-inverse .c-post-tag {
  color: rgb(170, 170, 170);
  font-weight: 300;
}

.c-entry-inverse a.c-post-tag:focus,
.c-entry-inverse a.c-post-tag:hover {
  color: rgb(102, 102, 102);
}

a.c-post-tag {
  text-decoration: none;
}

.c-post-stats {
  display: block;
  color: rgb(102, 102, 102);
  font-size: 12px;
  white-space: nowrap;
  text-align: right;
}

.c-entry-lg .c-post-stats {
  font-size: 12px;
}

.c-post-stats>li {
  display: inline-block;
}

.c-post-stats>li:not(:last-child) {
  margin-right: 8px;
}

.c-post-stats>li:empty {
  display: none;
}

.c-post-stats .i-ii {
  display: inline-block;
  margin-right: 2px;
  opacity: 0.6;
}

.c-post-info .c-post-stats {
  margin-bottom: 0px;
}

.c-bar .c-post-stats {
  display: inline-block;
}

@media (max-width: 1023px) {

  .c-main .c-entry-lg .c-post-stats,
  .c-post-stats {
    font-size: 10px;
  }

  .c-post-stats>li:not(:last-child) {
    margin-right: 6px;
  }
}

.c-entry-inverse .c-post-stats {
  color: rgb(170, 170, 170);
}

.c-port {
  overflow: hidden;
  position: relative;
}

@media (max-width: 1365px) {}

.c-bar {
  padding-top: 5px ! important;
  padding-bottom: 5px ! important;
  line-height: 1.6;
  fill: rgb(102, 102, 102);
}

.c-bar p {
  margin-bottom: 0px;
}

.c-bar div {
  color: inherit;
  text-decoration: none;
}

.c-bar a:active,
.c-bar a:hover {
  color: rgb(51, 51, 51);
  fill: rgb(51, 51, 51);
}

.c-bar svg {
  -webkit-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
}

.c-main .c-entry-lg .c-bar {
  padding-right: 30px;
}

.c-entry .c-bar {
  font-size: 14px;
  line-height: 1.6;
}

.c-bar-left {
  float: left;
  margin-left: -10px;
}

.c-bar-right {
  float: right;
  margin-right: -10px;
}

.c-bar-unit {
  position: relative;
  float: left;
  padding: 5px 10px;
}

.c-bar-unit ul {
  margin-bottom: 0px;
}

.c-bar-left .c-bar-unit:not(:last-child) {
  border-right: 1px solid rgba(170, 170, 170, 0.5);
}

.c-bar-right .c-bar-unit:not(:first-child) {
  border-left: 1px solid rgba(170, 170, 170, 0.5);
}

@media (max-width: 1023px) {
  .c-main .c-bar {
    font-size: 11px;
  }

  .c-entry .c-bar {
    font-size: 12px;
  }
}

.c-bar-unit .c-social-list {
  font-size: 12px;
}

.c-bar-unit .c-social-list div {
  color: rgb(102, 102, 102);
  padding-top: 3px;
}

.c-entry-inverse .c-bar-unit .c-social-list div {
  color: rgb(170, 170, 170);
}

@media (min-width: 1024px) {
  .c-main .c-entry-lg .c-bar-unit .c-social-list div {
    padding-top: 3px;
  }
}

@media (max-width: 1279px) {}

.c-social-list li {
  margin-right: -3px;
}

.c-social-list li:nth-child(1) div {
  margin-right: 8px;
}

.c-social-list li:nth-child(2) div {
  margin-right: 6px;
}

.c-social-list li:nth-child(3) div,
.c-social-list li:nth-child(4) div {
  margin-right: 4px;
}

.c-bar-unit .c-social-list li:last-child {
  margin-right: -10px;
}

.c-bar-unit .c-social-list li:last-child div {
  margin-right: 0px;
}

@media (max-width: 1023px) {
  .c-bar-unit .c-social-list {
    font-size: 10px;
  }

  .c-bar-unit .c-social-list div {
    padding: 5px 0px 1px;
  }

  .c-entry-lg .c-bar-unit .c-social-list {
    font-size: 12px;
  }

  .c-entry-lg .c-bar-unit .c-social-list div {
    padding: 0px;
  }

  .c-entry-lg .c-bar-unit .c-social-list.c-switcher-box {
    margin-top: 3px;
  }

  .c-main .c-entry-lg .c-bar-unit .c-social-list {
    font-size: 10px;
  }

  .c-social-list li {
    margin-right: 5px;
  }
}

.c-social-list div {
  padding-left: 10px;
  padding-right: 10px;
}

.c-social-list .i-svg {
  width: 15px;
  height: 15px;
  margin-top: -2px;
}

.c-social-list .i-tw {
  width: 17px;
  height: 17px;
}

.c-social-list .i-vb {
  width: 15px;
  height: 17px;
  margin-top: -2px;
}

.c-social-list .i-tlg {
  width: 17px;
  height: 17px;
  margin-top: -4px;
}


@-webkit-keyframes equalize {
  10% {
    height: 12%;
  }

  20% {
    height: 49%;
  }

  30% {
    height: 77%;
  }

  40% {
    height: 66%;
  }

  50% {
    height: 18%;
  }

  60% {
    height: 53%;
  }

  70% {
    height: 59%;
  }

  80% {
    height: 67%;
  }

  90% {
    height: 4%;
  }
}

@keyframes equalize {
  10% {
    height: 12%;
  }

  20% {
    height: 49%;
  }

  30% {
    height: 77%;
  }

  40% {
    height: 66%;
  }

  50% {
    height: 18%;
  }

  60% {
    height: 53%;
  }

  70% {
    height: 59%;
  }

  80% {
    height: 67%;
  }

  90% {
    height: 4%;
  }
}

@media not all,
(-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {}


.u-uppercase {
  text-transform: uppercase;
}

@media (min-width: 1024px) and (max-width: 1279px) {}


.u-mr-0 {
  margin-right: 0px ! important;
}

.u-pa-0 {
  padding: 0px ! important;
}

.u-pr-0 {
  padding-right: 0px ! important;
}

.u-pos-r {
  position: relative;
}

@media (max-width: 1365px) {}

@media (max-width: 1599px) {}

@media (min-width: 480px) {}

@media (min-width: 1px) {}

@media (min-width: 1024px) {}

@media (min-width: 1366px) {}

@media (min-width: 1600px) {}

.c-entry-inverse .u-text-lady,
.u-text-lady {
  color: #f65757;
}

div.u-text-lady:focus {
  background-color: rgb(238, 238, 238) ! important;
}

.u-blur {}

@media (max-width: 1599px) {}

@media (max-width: 1365px) {}

@media (min-width: 1280px) {}

@-webkit-keyframes blinking {

  30%,
  70% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes blinking {

  30%,
  70% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@-webkit-keyframes scale-in-out {
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}

@keyframes scale-in-out {
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}

@media (max-width: 1279px) {}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (max-width: 1023px) {}

@media (min-width: 1280px) {}

@media (max-width: 1023px) {}

@media (min-width: 1280px) {}

@media (max-width: 1023px) {}

@media (min-width: 1280px) {}

@media (max-width: 1023px) {}

@media (min-width: 1280px) {}

@media (max-width: 1279px) {}

@media (max-width: 1023px) {}

@media (max-width: 1279px) {}

@media (max-width: 1023px) {}

@media (max-width: 1599px) {}

@media (max-width: 1365px) {}

@media (max-width: 1279px) {}

@media (max-width: 1023px) {}

@media (max-width: 1365px) {}

@media (min-width: 1px) {}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (max-width: 1023px) {}

@media (min-width: 1280px) {}

@media (min-width: 1366px) {}

@media (max-width: 1023px) {}

@media (min-width: 1600px) {}

@media print {

  .c-bar-left .c-bar-unit~*,
  .c-bar-right {
    display: none ! important;
  }

  .c-entry-lg .has-pseudo-bg::before {
    background-color: transparent;
    background-image: none;
  }

  .c-bar * {
    color: rgb(102, 102, 102) ! important;
  }

  .c-bar-left {
    width: 50%;
  }

  .c-bar-unit {
    border-right: 0px none ! important;
  }

  .c-entry-lg .c-post-meta,
  .c-post-meta {
    position: relative ! important;
    padding-bottom: 0px ! important;
  }

  .c-post-title {
    color: rgb(0, 0, 0) ! important;
    margin: 22px 0px 0px ! important;
  }

  .o-jumbotron {
    margin-bottom: 0px ! important;
    background-color: transparent ! important;
    overflow: visible;
  }

  .c-post-stats {
    display: none ! important;
  }

  .c-main {
    float: none ! important;
    width: 100% ! important;
    margin-right: 0px ! important;
  }
}

@media (min-width: 1024px) {}

@media (min-width: 1024px) {}

@media (min-width: 1366px) {}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (min-width: 1366px) {}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (max-width: 1279px) and (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (max-width: 1023px) {}

@media (min-width: 1024px) and (max-width: 1279px) {}

@media (min-width: 1280px) and (max-width: 1599px) {}

@media (min-width: 1280px) and (max-width: 1365px) {}

@media (min-width: 1366px) and (max-width: 1599px) {}

@media (max-width: 1023px) {}

@media (min-width: 1024px) and (max-width: 1279px) {}

@media (min-width: 1280px) and (max-width: 1365px) {}

@media (min-width: 1366px) and (max-width: 1599px) {}

@media (min-width: 1600px) {}

@media (max-width: 1023px) {}

@media (min-width: 1024px) and (max-width: 1279px) {}

@media (min-width: 1280px) and (max-width: 1365px) {}

@media (min-width: 1366px) and (max-width: 1599px) {}

@media (min-width: 1600px) {}





/* ============= ÐšÐ¾Ð¼Ð¼ÐµÐ½Ñ‚Ð°Ñ€Ð¸Ð¸ ===============*/


/* ============= Ð¢ÐµÐ¼Ð½Ð¾-ÐºÑ€Ð°ÑÐ½Ð°Ñ ÐºÐ½Ð¾Ð¿ÐºÐ° ===============*/


/* ============= ÐŸÑ€Ð¾Ð´ÑƒÐºÑ‚ ===============*/


/* ============= Ð’ÑÐ¿Ð»Ñ‹Ð²Ð°ÑŽÑ‰ÐµÐµ Ð¾ÐºÐ½Ð¾ (pop-up) ===============*/

.submit {
  margin-top: 10px;
  height: 50px;
  width: 300px;
  background-color: firebrick;
  color: #fff !important;
  font-size: 30px;
  padding-top: 5px;
  text-decoration: none;
  border-radius: 3px;
}



/* ============= form (Ð¿Ð¾ Ñ†ÐµÐ½Ñ‚Ñ€Ñƒ) ===============*/
body {
  font-family: "Open Sans", sans-serif;
  color: rgb(68, 68, 68);
  line-height: 1.5625;
}

.order_form {
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0;
  font-family: Arial, Helvetica;
}

input {
  outline: 0;
}



/* ============= form (Ð±Ð¾ÐºÐ¾Ð²Ð°Ñ) ===============*/

.order_form {
  font-family: Arial, Helvetica;
  margin: 0px;
  padding: 0px 20px 0px;
  border-radius: 5px;
}

input {
  outline: 0px none;
}




/* ============= ÐÐ¾Ð²Ð°Ñ ÐºÐ½Ð¾Ð¿ÐºÐ° ===============*/





@media (min-width: 759px) and (max-width: 1024px) {

  .c-entry-lg .c-post-title {
    font-size: 21px;
  }

  .o-jumbotron {
    font-size: 11px;
    padding: 0px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {

  .c-entry-lg .c-post-title {
    font-size: 19px;
    line-height: 24px;
  }
}

@media (max-width: 600px) {
  .c-entry-lg .c-post-title {

    line-height: 19px;
  }
}

@media (max-width: 759px) {

  html,
  body {
    width: 100%;
    padding: 0px 0px;
  }

  .c-post-img-sleaze {
    width: 100%;
  }

  .c-post-img-sleaze {
    width: 112px;
    height: 100px;
    margin: 0 0 50px 0px;
  }

  .o-jumbotron {
    font-size: 11px;
    padding: 0px;
  }

  .h1,
  h1 {
    font-size: 20px;
  }

  .c-post-title {
    font-size: 17px;
  }

  a.c-post-img-wrap::before {
    display: none;
  }

  .o-jumbotron.c-entry-lg .c-post-meta {
    padding-left: 10px;
    padding-right: 10px;
  }

  .p-name.c-post-title.u-uppercase.js-si-title {
    max-width: 106%;
    margin-bottom: -7px;
    background-color: black;
    font-size: 12px;
  }

  .c-bar-right {
    display: none;
  }

  .c-entry-lg .c-post-title {
    font-size: 19px;
  }

  .c-main .o-jumbotron {
    max-width: 114%;
    margin-left: 0px;
  }

}