body,
html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 20px;
    color: #000;
    background-color: #f4f7fa
}

.inL_976510 li:last-of-type {
    margin-bottom: 0 !important
}

html {
    min-width: 320px
}

a {
    color: #004b9c;
    text-decoration: none
}

.advert_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1000px;
    padding: 4px 20px
}

.hidden_shit {
    background: #545159 !important;
    color: #fff
}

.hidden_shit {
    font-size: 15px;
    margin-right: 5px
}

.inL_228919 {
    font-size: 16px;
    margin-right: 100px
}

@media (max-width:760px) {
    #comments .pg {
        font-size: 18px !important
    }
    .pg {
        text-align: left !important
    }
    .shit {
        display: none !important
    }
    .advert_wrap {
        justify-content: space-around
    }
    .hidden_shit {
        display: none !important
    }
    .inL_228919 {
        font-size: 16px;
        margin-right: 0
    }
}

.button__text:after {
    content: "*";
    display: inline-block;
    font-size: 75%;
    vertical-align: top
}

.centering {
    text-align: center;
    margin: 0 auto
}

.centering img {
    text-align: center;
    margin: auto !important;
    margin-bottom: 25px !important;
    margin-top: 0 !important
}

#order_form0 {
    margin: 0 auto;
}

.left_count {
    margin: 0 auto;
    margin-top: 23px !important
}

#order_form0 {
    background: #fff;
    padding: 20px;
    max-width: 330px;
    font-family: Arial;
    margin: 20px;
    background-image: url(../images/xformbg.jpg.pagespeed.ic.kWcdfDWTMF.webp);
    background-repeat: no-repeat;
    background-size: 100% 120%;
    padding-bottom: 45px;
    margin-top: 10px !important
}

#order_form0 div {
    background: 0 0 !important
}

#order_form0 h2 {
    margin: 25px 0 0 0;
    padding: 0;
    line-height: 32px;
    border: none
}

#order_form0 label {
    display: block;
    padding: 5px 0 5px 0;
    font-weight: 700;
    text-align: left;
    font-size: 16px;
    padding-left: 10px
}

#order_form0 .order_form_pole {
    padding: 10px;
    display: inline-block;
    margin: 10px
}

#order_form0 input {
    font-size: 21px;
    padding: 15px;
    border-radius: 3px;
    border: 2px solid #e9d7dc;
    max-width: 300px;
    width: 100%
}

#order_form0 span {}

#order_form0 button,
.obutton {
    display: inline-block;
    padding: 20px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    box-shadow: 0 4px 15px 0 rgba(129, 150, 160, .45);
    border-radius: 5px;
    background-color: #0299ff;
    background-position: 1.35em .94em;
    background-size: 1em;
    background-repeat: no-repeat;
    transition: all .15s ease-in-out;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px
}

#order_form0 button:hover,
.obutton:hover {
    background-color: #017acc
}

#order_form0 button:active {
    position: relative;
    top: 1px
}

.order_info h2 {
    border: none !important;
    color: red !important
}

.left_count {
    background: red;
    padding: 10px;
    margin: 12px 0;
    width: 178px;
    color: #fff;
    text-shadow: 0 -1px 0 #000, 0 -1px 0 #000, 0 1px 0 #000, 0 1px 0 #000, -1px 0 0 #000, 1px 0 0 #000, -1px 0 0 #000, 1px 0 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 46px !important;
    border-radius: 5px
}

.left_count .prod_left_val {
    font-size: 52px !important
}

@media screen and (max-width:480px) {
    #content h1 {
        font-size: 22px;
        line-height: 1.2
    }
    #order_form0 {
        background-image: url(../images/xformbg-mob.jpg.pagespeed.ic.cyV-RPHFcb.webp)
    }
    #order_form0 label {
        font-size: 14px
    }
    #order_form0 button {
        font-size: 16px
    }
    #order_form0 {
        padding: 10px;
        padding-bottom: 40px;
        margin-bottom: -200px
    }
    #order_form0 .order_form_pole {
        padding: 0;
        margin: 2px
    }
}

@media screen and (max-width:459px) {
    #order_form0 input {
        width: 80%
    }
    #order_form0 {
        margin-left: -20px;
        margin-right: -20px
    }
}

@media screen and (max-width:349px) {
    #order_form0 input {
        font-size: 17px
    }
    #order_form0 button {
        margin-left: 0
    }
}

#title_block {
    width: 100%
}

.title_block_wrapper {
    width: 100%;
    height: 100%
}

.title_block_content {
    position: relative;
    width: 100%;
    height: 100%
}

.title_block_img .title_img {
    margin: 0 !important;
    padding: 0 !important;
    height: 100% !important;
    width: 100% !important;
    display: inline !important;
    -o-object-fit: cover;
    object-fit: cover
}

.title_block_img {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0
}

.title_block_shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background: #000 !important;
    opacity: .7
}

.title_block_texts {
    position: relative;
    z-index: 9;
    background: 0 0 !important;
    padding: 21px
}

.title_block_bread span {
    color: #fff;
    font: bold 10px/16px "IBM Plex Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: .88
}

.title_h1 {
    font: 600 40px/48px "IBM Plex Sans", sans-serif;
    color: #fff
}

.title_bq {
    border-left: 4px solid #349dee;
    padding-left: 16px;
    color: #fff;
    opacity: .88;
    font: 24px/40px Merriweather, sans-serif
}

.title_block_author {
    margin-top: 26px
}

.tauthor {
    font: 600 19px/24px "IBM Plex Sans", sans-serif;
    color: #349dee
}

.tdate {
    margin-top: 2px;
    color: #fff;
    font: 500 10px/16px "IBM Plex Sans", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase
}

.title_block_texts div {
    background: 0 0 !important
}

#top_xs {
    padding-top: 5px;
    display: none;
    background-repeat: no-repeat;
    background-position: top right
}

.lead_text {
    color: #565d6d
}

#top {
    background: 0 0;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top right
}

#bodyWrapper {
    max-width: 1000px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .5);
    -webkit-box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .5);
    -moz-box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .5)
}

#mainWrapper {
    width: 100%;
}

#wrapper {
    max-width: 1000px;
    margin: 0 auto
}

#content {
    padding: 0;
    text-align: left;
    width: 100%
}

#content .padWrap {
    padding: 15px
}

#content img {
    max-width: 100%;
    display: block;
    margin: 20px 0
}

#content p {
    font-size: 18px;
    line-height: 29px
}

.pg {
    font-size: 21px !important;
    line-height: 1.4 !important;
    margin-bottom: 20px;
    text-align: justify
}

#content .date {
    display: inline-block;
    color: #a3b0b9;
    font-size: 13px
}

#content .date::before {
    display: inline-block;
    content: "";
    margin-right: 10px;
    width: 10px;
    height: 10px
}

#content h1 {
    font-size: 36px;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 20px
}

#content h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 22px;
    margin-bottom: 25px;
    line-height: 32px
}

#content h3 {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 25px;
    font-weight: normal
}

#content ul li:last-of-type {
    margin-bottom: 0 !important
}

#content ul li span {
    display: block;
    font-weight: 400;
    margin-top: 10px;
    padding-left: 20px
}

.glava li {
    margin-bottom: 20px;
    margin-left: 20px;
    line-height: 32px;
    font-weight: 700;
    font-family: "IBM Plex Sans", sans-serif
}

.subtitle {
    display: block;
    margin-bottom: 20px;
    font-size: 20px
}

.note {
    float: right;
    max-width: 200px;
    font-weight: 500 !important;
    font-size: 18px !important
}

.note_left {
    float: left;
    max-width: 200px;
    font-weight: 500 !important;
    font-size: 18px !important
}

#content ul {
    font-size: 21px;
    line-height: 1.4;
    font-weight: 500
}

#content ul li {
    margin-bottom: 13px
}

#content blockquote {
    border-left: 5px solid;
    border-color: #39b4ff;
    padding: 10px 25px 10px 25px;
    margin: 35px;
    color: #39b4ff;
    font-weight: 700;
    font-size: 21px;
    line-height: 1.4
}

#content ul a {
    color: #000
}

#comments .pg {
    font-size: 20px !important;
    line-height: 1.4 !important
}

#comments h2 {
    color: #000;
    border-bottom: 0 solid;
    border-color: #000;
    text-transform: uppercase;
    padding-bottom: 10px
}

#comments .item {
    text-align: left;
    padding: 10px;
    margin: 10px 0;
    min-height: 80px;
    border-bottom: 1px dashed #05519d
}

#comments .item :last-child {
    border-bottom: none
}

#comments .item .name {
    font-size: 18px;
    margin-bottom: 5px;
    display: block;
    font-weight: 700
}

#comments .item .name span {
    color: #000;
    font-size: 16px;
    padding-left: 8px;
    margin-left: 5px;
    border-left: 1px solid #000;
    display: none !important
}

#comments .item .info p {
    display: block;
    font-size: 15px;
    line-height: 19px;
    margin-top: 4px;
    text-align: justify;
    margin-right: 20px
}

#comments .coment_ava {
    float: left;
    margin-right: 15px
}

#comments .coment_ava img {
    width: 50px;
    height: 50px
}

#comments .coment_ava img {
    margin: 0;
    width: 50px;
    height: 50px;
    border-radius: 5px
}

#comments .date {
    font-weight: 400;
    background: 0 0;
    display: inline
}

#comments .date::before {
    background-image: none;
    margin-right: 0
}

.form_phone {
    display: inline-block;
    position: relative
}

.help {
    display: none;
    position: absolute;
    top: -33px;
    left: 0;
    background: red;
    background-color: #e74c3c;
    border: 1px dashed #000;
    border-radius: 5px;
    color: #fff;
    font-family: Arial;
    font-size: 14px;
    margin: 3px 0 0;
    padding: 6px 8px 6px
}

input:focus+.help {
    display: block
}

.price {
    color: red;
    font-weight: 700
}

@media screen and (max-width:1020px) {
    #content {
        width: 100%
    }
}

@media screen and (max-width:780px) {
    .note,
    .note_left {
        float: none;
        max-width: 100%
    }
}

@media screen and (max-width:660px) {
    #content h1 {
        font-size: 28px;
        line-height: 36px
    }
    .title_bq {
        font-size: 20px;
        line-height: 1.3
    }
}

@media screen and (max-width:560px) {
    .pg {
        margin-left: 0;
        margin-right: 0
    }
}

@media screen and (max-width:520px) {
    #top {
        display: none
    }
    .sale__content {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center
    }
    .sale__text {
        display: flex !important;
        justify-content: center
    }
    .sale__product {
        width: 250px !important
    }
    .sale__price-wrapper {
        margin-left: 0 !important;
        margin-right: 0 !important
    }
    #comments img {
        max-width: 200px !important
    }
}

@media screen and (max-width:420px) {
    .title_bq {
        font-size: 18px !important;
        line-height: 28px !important
    }
    .tauthor {
        font-size: 14px
    }
}

@media screen and (max-width:470px) {
    #top {
        height: 80px
    }
}

@media screen and (max-width:310px) {
    #top {
        background-position: top center
    }
}

@media screen and (min-width:1300px) {
    #wrapper {
        max-width: 1000px
    }
    #content {
        width: 100%
    }
}

@media screen and (min-width:1600px) {
    #wrapper {
        max-width: 1000px
    }
    #content {
        width: 100%
    }
}

.sale {
    margin-top: 20px
}

.sale__content {
    text-align: center;
    font-size: 0;
    padding: 0 60px;
    display: flex;
    align-items: center;
    margin: 0 auto
}

.sale__product,
.sale__text {
    display: inline-block;
    width: 50%;
    font-size: 14px;
    line-height: 1;
    vertical-align: top
}

.sale__price {
    display: inline-block
}

.sale__product {
    width: 245px
}

.inL_268520 h3 {
    margin-bottom: 20px !important
}

.sale__product {
    text-align: center
}

.inL_669411 li:last-of-type {
    margin-bottom: 0 !important
}

.sale__product-image {
    margin: 0 !important;
    padding: 0 !important;
    display: inline-block !important;
    width: 90%
}

.sale__price-wrapper {
    margin-left: 34%;
    position: relative;
    display: inline-block;
    padding: 15px 40px;
    border-radius: 20px;
    border: 2px dashed #000
}

@media (max-width:618px) {
    .sale__price-wrapper {
        margin-left: 0 !important
    }
}

.sale__price-wrapper::before {
    top: -15px;
    left: 10px
}

.sale__price-wrapper::after {
    bottom: -15px;
    right: 10px;
    transform: rotate(180deg)
}

.sale__price {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 700
}

.sale__price--old {
    font-size: 17px
}

.sale__price--new {
    color: red
}

.sale__product {
    position: relative
}

@media (max-width:800px) {
    .sale__product,
    .sale__text {
        display: block;
        width: 100%;
        max-width: 100%
    }
    .sale__price-wrapper {
        box-sizing: border-box;
        display: block;
        max-width: 150px;
        margin: 0 auto
    }
    .sale__product {
        margin-top: 15px
    }
}

@media (max-width:550px) {
    .sale__content {
        padding: 0
    }
}

@media (max-width:738px) {
    .article_content {
        margin-bottom: 10px
    }
}

.region_test {
    margin: 10px 0
}

.inL_386823 {
    width: 100%;
    max-width: 250px
}

.inL_666730 {
    background: #545159 !important
}

.inL_649319 {
    background: #545159 !important
}

.inL_228919 {
    background: #545159;
    color: #fff
}

.inL_609475 {
    background: #545159;
    color: #fff;
    text-decoration: underline;
    cursor: pointer
}

.inL_559403 {
    display: block
}

.inL_822299 {
    padding-top: 0
}

.inL_976510 {
    background: #fff5f7;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ff6347;
    margin-bottom: 25px
}

.inL_253683 {
    list-style: none
}

.inL_253683,
.inL_913280 {
    padding: 26px;
    border: 1px solid #ff6347;
    border-radius: 10px;
    margin-bottom: 25px;
    list-style: none
}

.inL_913280 {
    padding: 26px
}

.inL_268520 {
    background: #ffeca6;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid #9acd32
}

.inL_669411 {
    font-size: 18px
}

.inL_234892 {
    margin-top: 30px
}

.inL_653810 {
    text-align: center;
    font-weight: 700
}

.inL_775709 {
    text-decoration: underline
}

.inL_298089 {
    margin: 28px 0
}

.inL_967661 {
    color: green;
    padding: 10px 0
}

.inL_925655 {
    display: block
}

.inL_551692 {
    max-width: 100px
}

.inL_314251 {
    color: #00f;
    font-size: 14px
}

.inL_385006 {
    font-size: 16px
}

.inL_317374 {
    margin: 15px 10px -5px 10px;
    border: 2px solid #0299ff;
    padding: 10px
}

.inL_121961 {
    margin-bottom: 20px
}

.inL_365437 {
    font-size: 14px
}

.inL_152498 {
    display: inline-block;
    margin-bottom: 5px;
    padding-left: 14px;
    color: red
}

.inL_897137 {
    max-width: 300px
}

.inL_295213 {
    clear: both
}

.inL_250510 {
    border: 1px solid #0299ff;
    padding: 10px 10px 40px
}

.inL_262785 {
    font-size: 42px;
    color: red
}

.inL_626735 {
    color: red
}

body,
html {
    height: 100%;
    padding: 0;
    margin: 0
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.privacy {
    padding-bottom: 10px;
    text-align: center
}

.privacy a {
    font-size: 14px;
    color: #000
}

.price_old {
    position: relative
}

.price_old::after {
    position: absolute;
    height: 2px;
    width: 100%;
    content: "";
    background: #000;
    display: block;
    top: 11px;
    left: 0
}

.shit {
    display: flex
}

.ac_footer {
    position: relative;
    text-align: center;
    padding: 20px 0;
    color: #a12000
}

.ac_footer a {
    color: #a12000
}

.ac_footer p {
    text-align: center
}

img[width="1"] {
    display: none !important
}

@media screen and (max-width:640px) {
    #content h1 {
        font-size: 22px;
        line-height: 1.2
    }
    .inL_501231 {
        font-size: 24px
    }
    .title_bq {
        line-height: 1.2 !important
    }
    .pg {
        margin-bottom: 15px
    }
    .inL_503256 {
        font-size: 22px
    }
    .inL_495806 {
        font-size: 24px
    }
    .pg,
    #content ul {
        font-size: 17px !important;
        line-height: 1.3 !important
    }
    .inL_253683,
    .inL_913280 {
        padding: 15px
    }
    .inL_268520 {
        padding: 15px;
        padding-left: 30px
    }
    .inL_317374 {
        line-height: 1.2;
        margin-bottom: 10px
    }
    #comments .pg {
        line-height: 1.2 !important
    }
    #order_form0 input {
        width: 100% !important
    }
    .ac_footer {
        font-size: 18px
    }
    .title_block_texts {
        padding: 15px
    }
    .glava li {
        line-height: 1.2 !important
    }
    #content h2 {
        font-size: 22px !important;
        line-height: 1.2 !important;
        margin-bottom: 15px
    }
    #content h3 {
        font-size: 18px;
        line-height: 1.2
    }
    #content blockquote {
        margin: 0;
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 1.2
    }
}

.add-comm {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #e74c3c;
    max-width: 700px;
    width: 100%;
    margin: auto
}

.add-comm__title {
    margin-bottom: 20px;
    font-size: 27px !important
}

.com-form__file {
    margin-bottom: 20px
}

.com-form__input {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 18px
}

.com-form__input:not(:last-of-type) {
    margin-bottom: 20px
}

.com-form .button {
    max-width: 100%;
    border: none;
    background: #d2691e;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
    color: #fff;
    width: 100%;
    padding: 15px 10px;
    cursor: pointer
}

input:focus {
    outline: none
}

.ac_footer {
    max-width: 1000px;
    margin: auto
}

.ac_footer p {
    color: #000;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 0 15px
}

.form-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px
}

.form-block .center-img {
    max-width: 330px;
    width: 100%;
    margin: 0;
    margin-right: 30px;
    margin-bottom: 0
}

.form-block .center-img img {
    margin-bottom: 0 !important
}

.form-block .form {
    max-width: 330px;
    width: 100%
}

.form__input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
    border: 1px solid #b6b6b6;
    height: 55px;
    padding: 10px;
    font-size: 16px
}

.price-f {
    display: flex;
    justify-content: center;
    margin-bottom: 20px
}

.price__col {
    width: 50%;
    text-align: center;
    font-size: 20px
}

.price__text {
    font-size: 21px;
    margin-bottom: 0 !important
}

.price-f p.old {
    font-size: 21px !important;
    margin: 0;
    text-decoration: line-through
}

.price-f p.new {
    margin: 0;
    font-size: 26px !important
}

@media (max-width:860px) {
    .form-block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px
    }
    .form-block .center-img {
        margin-bottom: 20px
    }
    .form-block .center-img {
        margin-right: 0
    }
    .btn.blue {
        width: 100%
    }
}

.btn.blue {
    border: none;
    width: 100%;
    display: block;
    background: #5682b5;
    color: #fff;
    padding: 0 18px;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgb(0 114 164);
    border-radius: 0;
    text-transform: uppercase;
    padding: 5px;
    height: 55px
}

.center-block {
    display: flex;
    align-items: flex-start
}

.center-block .left {
    max-width: 190px;
    width: 100%;
    margin-right: 40px;
    margin-bottom: 0;
    flex-shrink: 0
}

.center-block blockquote {
    margin-left: 0 !important
}

.sosud {
    max-width: 450px !important;
    width: 100%
}

@media screen and (max-width:640px) {
    .center-block {
        display: block
    }
    .center-block .left {
        margin: auto;
        margin-bottom: 20px
    }
}

.reviews-form__intrenal-col {
    margin-bottom: 25px
}

.reviews-form__file-text {
    padding-left: 30px;
    position: relative;
    cursor: pointer;
    font-size: 18px
}

.reviews-form__file-text:before {
    content: "";
    width: 20px;
    height: 30px;
    background: url(../fonts/paperclip.svg) center center/cover no-repeat;
    position: absolute;
    left: 0;
    top: -3px
}

.com-form .visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden
}

@media (max-width:760px) {
    #comments .pg {
        font-size: 18px !important
    }
}