/*Таймер*/
.countbox {
	    font-family: "Roboto Condensed", sans-serif;
    width: 100%;
    min-height: 100px;
    margin: 0 auto;
    /*border-radius: 4px;*/
    /*-webkit-border-radius: 4px;*/
    padding-top: 14px;
    /*font-family: Rubik;*/
    background-color: #cdcdcd;
    padding-bottom: 30px;
}
.countbox:before {
    content: "";
    display: block;
    font-weight: bold;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color:#000;
    margin-bottom: 13px;
}
.countbox .countbox-num {
    float: left;
}
.countbox .countbox-space {
    float: left;
    height: 48px;
    width: 27px;
}
.countbox .countbox-space:before {
    content: '';
}
.countbox-hours1, .countbox-mins1, .countbox-secs1, .countbox-hours2, .countbox-mins2, .countbox-secs2 {
    float: left;
    margin-right: 5px;
    width: 56px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    z-index: 1;
    color: #000;
    background: #ff9f00;
    font-size: 36px;
    font-weight: 700;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-bottom: 3px;
    position: relative;
}
.countbox-hours2:after,
.countbox-mins2:after {
    content: ':';
    display: block;
    font-weight: 400;
    color:#000;
    font-size: 36px;
    position: absolute;
    top:-1px;
    right: -20px;
}
.countbox-hours-text {
    padding-left: 20px;
}
.countbox-secs2 {
    margin-right: 0;
}
.countbox-hours1 {
    margin-left: 32.5px;
}
.countbox-hours-text, .countbox-mins-text, .countbox-secs-text {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    color:#000;
    text-align: center;
    text-transform: lowercase;
}

@media (max-width: 460px) {
    .countbox-hours1, .countbox-mins1, .countbox-secs1, .countbox-hours2, .countbox-mins2, .countbox-secs2 {
    float: left;
    /*margin-right: 5px;*/
    width: 35px;
    height: 45px;
    line-height: 50px;
    text-align: center;
    z-index: 1;
    color: #000;
    background: #ff9f00;
    font-size: 30px;
    font-weight: 700;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-bottom: 3px;
    position: relative;
}
.countbox-hours1 {
    margin-left: 10px;
}

}