.header-actions{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:20px;
  margin-left: auto;
  @media (max-width:650px) {
    gap:10px;
  }
  &__link{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__icon{
    width:  30px;

  }
  &__text{
    display: block;
    color:var(--gray-200);
    font:600 14px/16px var(--font);
    @media (max-width:650px) {
      font-size: 12px;
    line-height: 18px;
    }
  }
}