.header-contact {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 100%;
  @media (max-width:420px) {
    gap:10px;
  }
  &__link {
    display: flex;
    align-items: stretch;
    background-color: #2960b3;
    color: var(--white);
    transition: all 0.3s ease-in-out;
    padding: 5px 10px;
    gap: 5px;
    border-radius: 10px;
    &:hover {
      box-shadow: 0px 0px 5px rgb(48, 48, 48);
      transform: scale(1.01);
      .header-contact__icon--whatsapp{
        color: #39ae41;
      }
      .header-contact__icon--phone{
        animation: buzzing .6s ease-in-out infinite;
      }
    }
    &:first-child {
      margin-right: auto;
      @media (max-width:960px) {
        margin-left: auto;
        margin-right: 0;
      }
    }
  }
  &__icon {
    display: block;
    &--mail {
      width: 30px;
      height: 24px;
    }
    &--phone{
      width: 24px;
      height: 24px;
    }
    &--whatsapp{
      width: 24px;
      height: 24px;
    }
  }
  &__text {
    color: inherit;
    font: 400 14px/16px var(--font);
    align-self: center;
    @media (max-width:960px) {
      display: none;
    }
  }
}
@keyframes buzzing {
  0%{
    transform: rotate(-20deg) scale(1.1);
    color:var(--gray-400);
  }
  10%{
    transform: rotate(20deg) scale(.9);
    color:var(--gray-200)
  }

  45%{
    transform: rotate(-20deg) scale(1.1);
    color:var(--gray-400);
  }
  50%{
    transform: rotate(20deg) scale(.9);
    color:var(--gray-200)
  }
  85%{
    transform: rotate(-20deg) scale(1.1);
    color:var(--gray-400);
  }
  100%{
    transform: rotate(20deg) scale(.9);
    color:var(--gray-200)
  }
}