.hamburger{
  background-color: #2674b4;
  width: 46px;
  height: 46px;
  padding: 10px 5px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:10px;
  &.fixed-mob{
    z-index: 3;
    position: fixed;
    top: 15px;
    right:10px;
  }
  // @media (max-width:950px) {
  //   z-index: 3;
  //   position: fixed;
  //   top: 15px;
  //   right:10px;
  // }
  &.active-btn{
    .hamburger__line{
      &:nth-child(1){
        transform: rotate(-45deg) translate(-8px, 9px);
      }
      &:nth-child(2){
        transform: translateX(-40px);
        opacity: 0;
        visibility: hidden;
      }
      &:nth-child(3){
        transform: rotate(45deg) translate(-9px, -9px);
      }
    }
  }
  &__line{
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: #fff;
    display: block;
    opacity: 1;
    transform: translateX(0);
    transition: all .3s ease-in-out;
  } 
}