/* styles */

body {
	min-width: 480px;
	background: #ddd;
	font-family: 'AvenirNextCyr', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #333;
	cursor: default;
}

.main_wrapper {
	margin: 0 auto;
	width: 480px;
	background: #fff;
	overflow: hidden;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

img {
	max-width: 100%;
	height: auto;
}

b {
	font-weight: 700;
}

/* button */

.button {
	display: block;
	margin: 0 auto;
	width: 400px;
	height: 80px;
	border: none;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: #ef2b2b;
	-webkit-box-shadow: 0 5px 0 #bf2222;
	-moz-box-shadow: 0 5px 0 #bf2222;
	box-shadow: 0 5px 0 #bf2222;
	font-family: 'AvenirNextCyr', sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 80px;
	letter-spacing: 1px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
}

/* titles */

h2 {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	color: #363945;
	text-align: center;
}

h2 span {
	color: #94da00;
}

/* offer */

.offer_section {
	padding: 0 0 25px;
	background: #363945;
}

.offer_section .main_title {
	padding: 15px;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

.offer_section .main_title span {
	color: #94da00;
}

.offer_section .info_block {
	height: 380px;
	background: url(../images/offer_bg.jpg) center top no-repeat;
	position: relative;
}

.offer_section .info_block .discount {
	width: 140px;
	font-weight: 700;
	font-size: 18px;
	line-height: 18px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	top: 45px;
	right: -15px;
}

.offer_section .info_block img {
	display: block;
	border: 4px solid rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	bottom: -84px;
	left: 50%;
	margin-left: -84px;
}

.offer_section .price_block {
	padding: 30px 0;
}

.offer_section .price_item {
	float: left;
	width: 156px;
	color: #fff;
	text-align: center;
}

.offer_section .price_item.new {
	float: right;
}

.offer_section .price_item .text {
	margin: 0 0 6px;
	font-size: 14px;
	line-height: 14px;
}

.offer_section .price_item .value {
	font-weight: 700;
	font-size: 28px;
	line-height: 28px;
}

.offer_section .price_item.old .value {
	text-decoration: line-through;
}

.offer_section .price_item.new .value {
	color: #94da00;
}

.offer_section ul {
	padding: 20px 40px;
	border-top: 1px solid #4a4d58;
	border-bottom: 1px solid #4a4d58;
	background: #30333e;
}

.offer_section ul li {
	margin: 0 0 10px;
	padding: 0 0 0 30px;
	background: url(../images/offer__tick_icon.png) left 2px no-repeat;
	color: #fff;
}

.offer_section ul li:last-child {
	margin: 0;
}

.offer_section .timer_block {
	margin: 25px 0;
	color: #fff;
	text-align: center;
}

.offer_section.offer_bottom .timer_block {
	margin: 0 0 25px;
	padding: 25px 0;
	border-top: 1px solid #4a4d58;
	border-bottom: 1px solid #4a4d58;
	background: #30333e;
}

.offer_section .timer_block p {
	margin: 0 0 15px;
	font-weight: 700;
	font-size: 18px;
	line-height: 18px;
}

.offer_section .timer {
	margin: 0 auto;
	width: 390px;
}

.offer_section .timer_item {
	float: left;
	margin: 0 30px 0 0;
	width: 110px;
	position: relative;
}

.offer_section .timer_item:last-child {
	margin: 0;
}

.offer_section .timer_item:before {
	display: block;
	content: ':';
	width: 30px;
	font-weight: 700;
	font-size: 36px;
	line-height: 52px;
	position: absolute;
	top: 0;
	right: -30px;
}

.offer_section .timer_item:last-child:before {
	display: none;
}

.offer_section .timer_item .count {
	margin: 0 0 6px;
	height: 60px;
}

.offer_section .timer_item .count span {
	display: block;
	float: left;
	margin: 0 6px 0 0;
	width: 52px;
	height: 60px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #262830;
	font-weight: 700;
	font-size: 36px;
	line-height: 60px;
}

.offer_section.offer_bottom .timer_item .count span {
	background: #22242b;
}

.offer_section .timer_item .count span:last-child {
	margin: 0;
}

.offer_section .timer_item .text {
	font-size: 16px;
	line-height: 16px;
}

.offer_section .products_count {
	margin: 20px 0 0;
	color: #fff;
	text-align: center;
}

.offer_section .products_count b {
	margin: 0 5px;
	padding: 2px 4px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #94da00;
	color: #333;
}

.offer_section .field {
	display: block;
	margin: 0 auto 20px;
	padding: 0 20px;
	width: 400px;
	height: 80px;
	border: none;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: #fff;
	font-family: 'AvenirNextCyr', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #333;
	text-align: center;
}

.offer_section .field::-webkit-input-placeholder {
	opacity: 1;
	color: #333;
}

.offer_section .field:-moz-placeholder {
	opacity: 1;
	color: #333;
}

.offer_section .field::-moz-placeholder {
	opacity: 1;
	color: #333;
}

.offer_section .field:-ms-input-placeholder {
	opacity: 1;
	color: #333;
}

.offer_section .field:focus::-webkit-input-placeholder {
	opacity: 0;
}

.offer_section .field:focus:-moz-placeholder {
	opacity: 0;
}

.offer_section .field:focus::-moz-placeholder {
	opacity: 0;
}

.offer_section .field:focus:-ms-input-placeholder {
	opacity: 0;
}

/* benefits */

.benefits_section {
	padding: 30px 0 0;
	border-bottom: 3px solid #e6e6e6;
}

.benefits_section h2 {
	margin: 0 20px 20px;
}

.benefits_section p.description {
	margin: 0 20px 30px;
	font-weight: 700;
	text-align: center;
}

.benefits_section .video_block {
	margin: 0 0 30px;
	width: 480px;
	height: 270px;
	background: #000;
	overflow: hidden;
	position: relative;
}

.benefits_section .video_block iframe, 
.benefits_section .video_block object, 
.benefits_section .video_block embed {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.benefits_section .benefits_list {
	font-size: 0;
	line-height: 0;
	letter-spacing: -1px;
	text-align: center;
}

.benefits_section .benefit_item {
	display: inline-block;
	vertical-align: top;
	margin: 0 20px 30px 0;
	width: 210px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: normal;
}

.benefits_section .benefit_item:nth-child(even) {
	margin: 0 0 30px;
}

.benefits_section .benefit_item img {
	display: block;
	margin: 0 auto 15px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

/* stars */

.stars_section {
	padding: 30px 0 40px;
}

.stars_section h2 {
	margin: 0 20px 30px;
}

.stars_section .owl-prev, 
.stars_section .owl-next {
	width: 40px;
	height: 60px;
	background: #94da00 url(../images/slider__arrows.png) no-repeat;
	position: absolute;
	top: 50%;
	margin-top: -30px;
}

.stars_section .owl-prev {
	-webkit-border-radius: 0px 8px 8px 0px;
	-moz-border-radius: 0px 8px 8px 0px;
	border-radius: 0px 8px 8px 0px;
	background-position: left center;
	left: 0;
}

.stars_section .owl-next {
	-webkit-border-radius: 8px 0px 0px 8px;
	-moz-border-radius: 8px 0px 0px 8px;
	border-radius: 8px 0px 0px 8px;
	background-position: right center;
	right: 0;
}

.stars_section ul {
	margin: 30px 20px;
}

.stars_section ul li {
	margin: 0 0 15px;
	padding: 0 0 0 22px;
	position: relative;
}

.stars_section ul li:last-child {
	margin: 0;
}

.stars_section ul li:before {
	display: block;
	content: '';
	width: 10px;
	height: 10px;
	border: 1px solid #94da00;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #94da00;
	-webkit-box-shadow: 0 0 0 1px #fff inset;
	-moz-box-shadow: 0 0 0 1px #fff inset;
	box-shadow: 0 0 0 1px #fff inset;
	position: absolute;
	top: 6px;
	left: 0;
}

.stars_section .gif_image {
	display: block;
	margin: 0 auto 30px;
}

/* problems */

.problems_section {
	padding: 30px 10px 0;
	background: #363945;
}

.problems_section h2 {
	margin: 0 0 30px;
	color: #fff;
}

.problems_section .problems_list {
	font-size: 0;
	line-height: 0;
	letter-spacing: -1px;
	text-align: center;
}

.problems_section .problem_item {
	display: inline-block;
	vertical-align: top;
	margin: 0 0 30px;
	width: 33.333333%;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: normal;
	color: #fff;
}

.problems_section .problem_item img {
	display: block;
	margin: 0 auto 10px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

/* reviews */

.reviews_section {
	padding: 30px 20px 35px;
	border-bottom: 3px solid #e6e6e6;
	background: #f7f7f7;
}

.reviews_section h2 {
	margin: 0 0 30px;
}

.reviews_section .reviews_list {
	background: #fff;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.reviews_section .review_item .text_block {
	padding: 20px;
	text-align: center;
}

.reviews_section .review_item .author_info {
	margin: 0 0 10px;
	padding: 0 0 32px;
	background: url(../images/reviews__quote_icon.png) center bottom no-repeat;
	font-weight: 700;
}

.reviews_section .owl-prev, 
.reviews_section .owl-next {
	width: 40px;
	height: 60px;
	background: #94da00 url(../images/slider__arrows.png) no-repeat;
	position: absolute;
	top: 110px;
}

.reviews_section .owl-prev {
	-webkit-border-radius: 0px 8px 8px 0px;
	-moz-border-radius: 0px 8px 8px 0px;
	border-radius: 0px 8px 8px 0px;
	background-position: left center;
	left: -20px;
}

.reviews_section .owl-next {
	-webkit-border-radius: 8px 0px 0px 8px;
	-moz-border-radius: 8px 0px 0px 8px;
	border-radius: 8px 0px 0px 8px;
	background-position: right center;
	right: -20px;
}

/* use steps */

.use_steps_section {
	padding: 30px 0 0;
}

.use_steps_section h2 {
	margin: 0 20px 30px;
}

.use_steps_section .step_item {
	display: table;
	margin: 0 0 10px;
	width: 100%;
	border-top: 1px solid #363945;
	border-bottom: 1px solid #363945;
}

.use_steps_section .step_item:last-child {
	margin: 0;
}

.use_steps_section .image_block {
	display: table-cell;
	vertical-align: middle;
	width: 240px;
}

.use_steps_section .image_block img {
	display: block;
}

.use_steps_section .text_block {
	display: table-cell;
	vertical-align: middle;
	padding: 0 15px;
	width: 240px;
	background: #363945;
	color: #fff;
	text-align: center;
}

.use_steps_section .text_block .number {
	margin: 0 auto 10px;
	width: 50px;
	height: 50px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #94da00;
	font-weight: 700;
	font-size: 24px;
	line-height: 50px;
}

/* order info */

.order_info_section {
	padding: 30px 20px;
}

.order_info_section h2 {
	margin: 0 0 30px;
}

.order_info_section .info_item {
	display: table;
	margin: 0 0 25px;
	width: 100%;
}

.order_info_section .info_item:last-child {
	margin: 0;
}

.order_info_section .icon_block {
	display: table-cell;
	vertical-align: middle;
	width: 64px;
}

.order_info_section .icon_block img {
	display: block;
}

.order_info_section .text_block {
	display: table-cell;
	vertical-align: middle;
	padding: 0 0 0 20px;
}

.order_info_section .text_block h4 {
	margin: 0 0 4px;
	font-weight: 700;
}

/* footer */

.footer_section {
	padding: 25px 0;
	background: #21232a;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
}

.footer_section img {
	display: block;
	margin: 0 auto 10px auto;
}

.footer_section a {
	color: #ccc;
}