
                                .input-roulette {
                                    border: 1px solid lightgrey;
                                }
 
                        .submit-roulette{
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            appearance: none;
                            -webkit-box-pack: center;
                            -ms-flex-pack: center;
                            justify-content: center;
                            width: auto;
                        }
@media only screen and (max-width: 500px) {
    .close-popup {
        right: 0!important;
        top: -40px!important;
    }
} 