/*Таймер*/
.countbox {
    font-size: 24px;
    height: 60px;
    /*width: 90%;*/
    max-width: 300px;
    padding-left: 8px;
    margin: 0 auto 25px;
    color: #fff;
    box-sizing: border-box;
    font-family: Montserrat;
}
.countbox .countbox-num {
    float: left;
}
.countbox .countbox-space {
    float: left;
    height: 48px;
    width: 20px;
    line-height: 48px;
    text-align: center;
}
.countbox-hours1, .countbox-mins1, .countbox-secs1, .countbox-hours2, .countbox-mins2, .countbox-secs2 {
    float: left;
    width: 35px;
    margin-right: 4px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    z-index: 1;
    color: #000 ;
    background: #D0B89C;
    font-size: 40px;
    margin-bottom: 10px;
}

.countbox-hours-text, .countbox-mins-text, .countbox-secs-text {
    font-size: 18px;
    text-align: center;
    font-weight: normal;
}